.colorful-horizontal-list {
  background: #262626;
}
.colorful-horizontal-list .items {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}
.colorful-horizontal-list .item:not(.image) {
  margin-bottom: 25px;
}
.colorful-horizontal-list .title {
  font-size: 60px;
  line-height: 72px;
  color: #C81927;
  font-weight: 700;
  margin-bottom: 10px;
}
.colorful-horizontal-list .label {
  font-size: 18px;
  line-height: 24px;
  max-width: 260px;
  color: white;
}
.colorful-horizontal-list .wrapper {
  padding: 0 35px;
}
.colorful-horizontal-list .media {
  position: relative;
}
.colorful-horizontal-list .media:before {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/tec/assets/images/left-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 176px;
  width: 186px;
  left: -10px;
  top: -9px;
}
.colorful-horizontal-list .media:after {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/tec/assets/images/right-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 176px;
  width: 186px;
  right: -11px;
  bottom: -9px;
}

@media only screen and (min-width: 1024px) {
  .colorful-horizontal-list {
    padding: 50px 0;
  }
  .colorful-horizontal-list .wrapper {
    padding: 0;
  }
  .colorful-horizontal-list .items {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
