@import "mixins.scss";

.colorful-horizontal-list {
    background:#262626;
    .items {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: center;
    }
    .item {
        &:not(.image) {
            margin-bottom: 25px;
        }
    }
    .title {
        font-size: 60px;
        line-height: 72px;
        color:#C81927;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .label {
        font-size: 18px;
        line-height: 24px;
        max-width: 260px;
        color:white;
    }
    .wrapper {
        padding: 0 35px;
    }
    .media {
        position: relative;
        &:before {
            content:"";
            position:absolute;
            background: url('/wp-content/themes/tec/assets/images/left-top.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 176px;
            width: 186px;
            left: -10px;
            top: -9px;
        }
        &:after {
            content:"";
            position:absolute;
            background: url('/wp-content/themes/tec/assets/images/right-bottom.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 176px;
            width: 186px;
            right: -11px;
            bottom: -9px;
        }
    }
}

@include screen(1024) {
    .colorful-horizontal-list {
        padding: 50px 0;
        .wrapper {
            padding: 0;
        }
        .items {
            justify-content: space-evenly;
        }
    }
}