@import "mixins.scss";

.mozaic-hero {
    position: relative;
    h1 {
        color:white;
        font-size: 38px;
        line-height: 45px;
    }
    .content {
        background:var(--bg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 130px 35px;
    }
}

@include screen(1024) {
    .mozaic-hero {
        .wrapper {
            height: 60.888vh;
            display:flex;
            align-items: stretch;
            justify-content: space-between;
        }
        .one {
            background:pink;
            flex:0 0 calc(56.096% - 7.5px);
        }
        .two {
            flex: 0 0 calc(23.779% - 7.5px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            &-top {
                background:blue;
                flex: 0 0 calc(50% - 7.5px);
            }
            &-bot {
                background:orange;
                flex: 0 0 calc(50% - 7.5px);
            }
        }
        .three {
            background:green;
            flex:0 0 calc(20.125% - 7.5px);
        }
        .one,
        .two-top,
        .two-bot,
        .three {
            background:var(--bg);
            background-size: cover;
            background-repeat: no-repeat;
        }
        .content {
            background: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .inner {
                max-width: 535px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }
            .container {
                height:100%;
            }
            h1 {
                color:white;
            }
        }
    }
}

@include screen(1280) {
    .mozaic-hero {
        .content {
            .inner {
                max-width: 620px;
            }
            h1 {
                font-size: 50px;
                line-height: 52px;
            }
        }
    }
}

@include screen(1366) {
    .mozaic-hero {
        .content {

            .inner {
                max-width: 700px;
            }
            h1 {
                color:white;
                font-size: 56px;
                line-height: 58px;
            }
        }
    }
}