.mozaic-hero {
  position: relative;
}
.mozaic-hero h1 {
  color: white;
  font-size: 38px;
  line-height: 45px;
}
.mozaic-hero .content {
  background: var(--bg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 130px 35px;
}

@media only screen and (min-width: 1024px) {
  .mozaic-hero .wrapper {
    height: 60.888vh;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  .mozaic-hero .one {
    background: pink;
    flex: 0 0 calc(56.096% - 7.5px);
  }
  .mozaic-hero .two {
    flex: 0 0 calc(23.779% - 7.5px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .mozaic-hero .two-top {
    background: blue;
    flex: 0 0 calc(50% - 7.5px);
  }
  .mozaic-hero .two-bot {
    background: orange;
    flex: 0 0 calc(50% - 7.5px);
  }
  .mozaic-hero .three {
    background: green;
    flex: 0 0 calc(20.125% - 7.5px);
  }
  .mozaic-hero .one,
  .mozaic-hero .two-top,
  .mozaic-hero .two-bot,
  .mozaic-hero .three {
    background: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .mozaic-hero .content {
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .mozaic-hero .content .inner {
    max-width: 535px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  .mozaic-hero .content .container {
    height: 100%;
  }
  .mozaic-hero .content h1 {
    color: white;
  }
}
@media only screen and (min-width: 1280px) {
  .mozaic-hero .content .inner {
    max-width: 620px;
  }
  .mozaic-hero .content h1 {
    font-size: 50px;
    line-height: 52px;
  }
}
@media only screen and (min-width: 1366px) {
  .mozaic-hero .content .inner {
    max-width: 700px;
  }
  .mozaic-hero .content h1 {
    color: white;
    font-size: 56px;
    line-height: 58px;
  }
}

/*# sourceMappingURL=style.css.map */
