{% extends "block-base.twig" %}

{% block content %}
<section class="mozaic-hero {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="one" style="--bg:url('{{cdnThis(fields.content.image_one.url)}}')"></div>
        <div class="two">
            <div class="two-top" style="--bg:url('{{cdnThis(fields.content.image_two.url)}}')"></div>
            <div class="two-bot" style="--bg:url('{{cdnThis(fields.content.image_three.url)}}')"></div>
        </div>
        <div class="three" style="--bg:url('{{cdnThis(fields.content.image_four.url)}}')"></div>
    </div>
    <div class="content" style="--bg:url('{{cdnThis(fields.content.image_one.url)}}')">
        <div class="container">
            <div class="inner">
                <h1>{{fields.content.title}}</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}
