.cta-one {
  padding: 25px;
  background: #262626;
}
.cta-one h2,
.cta-one p {
  color: white;
}

@media only screen and (min-width: 1024px) {
  .cta-one {
    padding: 115px 0;
  }
  .cta-one .flex {
    max-width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
