{% extends "block-base.twig" %}

{% block content %}
<section class="cta-one {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="cta">
                
            </div>
        </div>
    </div>
</section>
{% endblock %}
