<a class="inner" href="{{item.link}}">
    <div class="thumb">
        <img src="{{item.thumbnail.src}}" alt="{{item.thumbnail.alt}}"/>
    </div>
    <div class="body">
        <div class="title">
            <h5>{{item.title}}</h5>
            <div class="arrow"></div>
        </div>
        <div class="tag">{{fn('get_the_terms', item.id, 'Industry')[0].name}}</div>
    </div>
</a>