@media only screen and (min-width: 1024px) {
  .pattern-hero-two {
    padding-top: 106px !important;
  }
}

.filter {
  width: 270px;
  height: 48px;
  background: #F2EFEA;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.filter-title {
  font-size: 14px;
  padding: 22px;
}
.filter-body {
  transition: all 0.3s ease-out;
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  max-height: 0;
}
.filter-option {
  cursor: pointer;
}
.filter-option + .filter-option {
  margin-top: 15px;
}
.filter-options {
  background: white;
  border: 3px solid #F2EFEA;
  padding: 15px 20px;
}
.filter-chevron {
  width: 40px;
}
.filter-chevron:before {
  transition: all 0.3s ease-out;
  position: absolute;
  font-family: "icomoon";
  content: "\e907";
  font-size: 20px;
  top: 13px;
}
.filter:hover .filter-body {
  max-height: 150px;
}
.filter:hover .filter-chevron:before {
  transform: rotate(180deg);
}
.filter label,
.filter input {
  cursor: pointer;
}

.case-studies {
  display: flex;
  flex-wrap: wrap;
  row-gap: 25px;
  column-gap: 20px;
}

.case-study {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  flex: 0 0 370px;
  max-width: 370px;
}
.case-study-index .bottom {
  padding: 50px 0;
}
.case-study .thumb img {
  display: block;
}
.case-study .body {
  background: rgb(242, 239, 234);
  padding: 33px;
  display: flex;
  flex-direction: column;
}
.case-study .title {
  flex: 0 0 110px;
  min-height: 110px;
  margin-bottom: 10px;
}
.case-study .title h5 {
  max-width: 90%;
  position: relative;
}
.case-study .title h5:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e908";
  font-family: "icomoon";
  color: #262626;
  font-size: 25px;
  font-weight: 400;
  right: 0;
  bottom: 0;
}
.case-study-index {
  padding: 25px;
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  .case-study-index {
    padding: 0px;
    margin-top: 60px;
  }
}
.case-study-index .top {
  margin-top: 30px;
}
@media only screen and (min-width: 1024px) {
  .case-study-index .top {
    margin-top: 60px;
  }
}
.case-study-index .first {
  max-width: 1200px;
}

/*# sourceMappingURL=style.css.map */
