@import "mixins.scss";


.pattern-hero-two {
    @include screen(1024) {
        padding-top: 106px !important;
    }
}
.filter {
    width: 270px;
    height:48px;
    background:#F2EFEA;
    position:relative;
    display:flex;
    align-items: center;
    cursor:pointer;
    margin-top: 20px;
    &-head {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &-title {
        font-size: 14px;
        padding: 22px;
    }
    &-body {
        transition:all 0.3s ease-out;
        overflow:hidden;
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        max-height: 0;
    }
    &-option {
        cursor:pointer;
        & + .filter-option {
            margin-top:15px;
        }
    }
    &-options {
        background: white;
        border: 3px solid #F2EFEA;
        padding: 15px 20px;
    }
    &-chevron {
        width: 40px;
        &:before {
            transition:all 0.3s ease-out;
            position: absolute;
            font-family: "icomoon";
            content: "\e907";
            font-size: 20px;
            top: 13px;
        }
    }
    &:hover{
        .filter-body {
            max-height:150px;
        }
        .filter-chevron {
            &:before {
                transform: rotate(180deg);
            }
        }
    }
    label,
    input {
        cursor:pointer;
    }
}

.case-studies {
    display:flex;
    flex-wrap: wrap;
    row-gap:25px;
    column-gap:20px;
}
.case-study {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
    flex: 0 0 370px;
    max-width: 370px;
    &-index {
        .bottom {
            padding:50px 0;
        }
    }
    .thumb {
        img {
            display:block;
        }
    }
    .body {
        background:rgba(242, 239, 234, 1);
        padding:33px;
        display: flex;
        flex-direction: column;
    }
    .title {
        flex: 0 0 110px;
        min-height: 110px;
        margin-bottom: 10px;
        h5 {
            max-width: 90%;
            position: relative;
            &:before {
                transition: all 0.3s ease-out;
                position: absolute;
                content: "\e908";
                font-family: "icomoon";
                color:#262626;
                font-size: 25px;
                font-weight: 400;
                right: 0;
                bottom: 0;
            }
        }
    }
    &-index {
        padding: 25px;
        margin-top:30px;
        @include screen(1024) {
            padding: 0px;
            margin-top:60px;
        }
        .top {
            margin-top:30px;
            @include screen(1024) {
                margin-top:60px;
            }
        }
        .first {
            max-width: 1200px;
        }
    }
}