{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="first"><InnerBlocks/></div>
        <div class="top">
            <div class="title"><h5>Filter By</h5></div>
            <div class="filter">
                <div class="filter-head">
                    <div class="filter-title">Industries</div>
                    <div class="filter-chevron"></div>
                </div>
                <div class="filter-body">
                    <ul class="filter-options">
                    {% for industry in industries %}
                        <li class="filter-option">
                            <input name="{{industry.slug}}" id="{{industry.slug}}" type="checkbox" value="{{industry.id}}" class="filter-input"></input>
                            <label for="{{industry.slug}}"><small>{{industry.name}}</small></label><br>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="wrapper">
                <ul class="case-studies">
                {% for item in case_studies %}
                    <li class="case-study">{% include ['case-study.twig'] %}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
<script>

function getActiveFilters() {
    let activeFilters = [];

    let allFilters = [];

    document.querySelectorAll( '.filter-input' ).forEach(function( e ) {
        allFilters.push( e.value );
        if ( e.checked ) { activeFilters.push(e.value); }
    });

    if( activeFilters.length < 1 ) {
        return allFilters;
    } else {
        return activeFilters;
    }
}

document.querySelectorAll( '.filter-input' ).forEach(function( e ) {
    e.addEventListener( 'change', ( event ) => {
//        console.log(getActiveFilters());
        console.log(getActiveFilters().length, getActiveFilters());
        loadCaseStudies( getActiveFilters() );
    });
});

function loadCaseStudies(industries) {
    let url = "{{fn("admin_url", "admin-ajax.php")}}?action=get_case_studies_ajax";
    
    let body = new FormData();

    body.append('industries', getActiveFilters());

    let headers = { method: "POST", credentials: 'same-origin', body: body };

    fetch(url, headers)
        .then(function (response) {
            return response.text();
        })
        .then(function (data) {
            document.querySelector('.bottom .wrapper').innerHTML = data;
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
}
</script>
{% endblock %}

