.image-text {
  padding: 25px;
}
.image-text .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.image-text .flex {
  flex: 0 0 48.5%;
  max-width: 623px;
  margin-bottom: 25px;
}
.image-text .media {
  flex: 0 0 48.5%;
  max-width: 430px;
  position: relative;
  margin: 50px 0;
}
.image-text .media:before {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/tec/assets/images/left-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 176px;
  width: 186px;
  left: -10px;
  top: -9px;
}
.image-text .media:after {
  content: "";
  position: absolute;
  background: url("/wp-content/themes/tec/assets/images/right-bottom.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 176px;
  width: 186px;
  right: -11px;
  bottom: -9px;
}
.image-text .wp-block-image {
  margin-bottom: 30px;
}
.image-text .wp-block-buttons {
  margin-top: 30px;
}
.image-text img {
  max-width: 100%;
  height: auto;
}
.image-text ul li {
  padding: 16px;
  color: #222B45;
  padding-left: 60px;
  font-size: 22px;
  line-height: 30px;
  border-bottom: 1px solid #707070;
  position: relative;
}
.image-text ul li a {
  transition: all 0.3s ease-out;
}
.image-text ul li:before {
  transition: all 0.3s ease-out;
  content: "\e907";
  font-family: "icomoon";
  color: #C81927;
  position: absolute;
  font-size: 35px;
  left: 28px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}
.image-text ul li:after {
  transition: all 0.3s ease-out;
  content: "";
  background: #C81927;
  position: absolute;
  height: 3px;
  width: 23px;
  left: 7px;
  top: 48%;
}
.image-text ul li:hover {
  color: #C81927;
}
.image-text ul li:hover a {
  color: #C81927;
}
.image-text ul li:hover:before {
  left: 33px;
}
.image-text ul li:hover:after {
  content: "";
  width: 30px;
}
.image-text h5 {
  color: #1F7A8C;
}
.image-text.no-frame .media:before, .image-text.no-frame .media:after {
  content: none;
}
.image-text.reverse-frame .media:before {
  transform: rotate(90deg);
  right: -18px;
  left: unset;
  bottom: unset;
  top: -9px;
}
.image-text.reverse-frame .media:after {
  transform: rotate(90deg);
  right: unset;
  left: -14px;
  bottom: -2px;
}
.image-text.dark, .image-text.is-style-dark {
  background: #262626;
  margin-top: 10px;
}
.image-text.dark h2,
.image-text.dark p,
.image-text.dark li,
.image-text.dark a, .image-text.is-style-dark h2,
.image-text.is-style-dark p,
.image-text.is-style-dark li,
.image-text.is-style-dark a {
  color: white;
}
.image-text.reverse .wrapper, .image-text.is-style-reverse .wrapper {
  flex-direction: row-reverse;
}

@media only screen and (min-width: 1024px) {
  .image-text {
    padding: 80px 0;
  }
  .image-text .wrapper {
    flex-direction: row;
  }
  .image-text .wp-block-image {
    margin-bottom: 60px;
  }
  .image-text .wp-block-buttons {
    margin-top: 40px;
  }
  .image-text .flex {
    margin-bottom: 0px;
  }
  .image-text ul {
    max-width: 450px;
  }
  .image-text .media {
    margin: 0;
  }
  .image-text .media:before {
    height: 242px;
    width: 251px;
    left: -12px;
    top: -12px;
  }
  .image-text .media:after {
    height: 242px;
    width: 251px;
    right: -12px;
    bottom: -12px;
  }
}

/*# sourceMappingURL=style.css.map */
