@import "mixins.scss";

.image-text {
    padding: 25px;
    .wrapper {
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .flex {
        flex:0 0 48.5%;
        max-width: 623px;
        margin-bottom: 25px;
    }
    .media {
        flex:0 0 48.5%;
        max-width: 430px;
        position: relative;
        margin: 50px 0;
        &:before {
            content:"";
            position:absolute;
            background: url('/wp-content/themes/tec/assets/images/left-top.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 176px;
            width: 186px;
            left: -10px;
            top: -9px;
        }
        &:after {
            content:"";
            position:absolute;
            background: url('/wp-content/themes/tec/assets/images/right-bottom.svg');
            background-repeat: no-repeat;
            background-size: contain;
            height: 176px;
            width: 186px;
            right: -11px;
            bottom: -9px;
        }
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        li {
            padding: 16px;
            color:#222B45;
            padding-left: 60px;
            font-size: 22px;
            line-height: 30px;
            border-bottom: 1px solid #707070;
            position:relative;
            a {
                transition:all 0.3s ease-out;
            }
            &:before {
                transition:all 0.3s ease-out;
                content: "\e907";
                font-family: "icomoon";
                color: #C81927;
                position: absolute;
                font-size: 35px;
                left: 28px;
                top: 50%;
                transform: translate(-50%,-50%) rotate(270deg);
            }
            &:after {
                transition:all 0.3s ease-out;
                content:"";
                background: #C81927;
                position: absolute;
                height:3px;
                width:23px;
                left: 7px;
                top: 48%;
            }
            &:hover {
                color:#C81927;
                a {
                    color:#C81927;
                }
                &:before {
                    left: 33px;
                }
                &:after {
                    content:"";
                    width: 30px;
                }
            }
        }
    }
    h5 {
        color:#1F7A8C;
    }
    &.no-frame {
        .media {
            &:before,
            &:after {
                content:none;
            }
        }
    }
    &.reverse-frame {
        .media {
            &:before {
                transform: rotate(90deg);
                right: -18px;
                left: unset;
                bottom: unset;
                top: -9px;
            }

            &:after {
                transform: rotate(90deg);
                right: unset;
                left: -14px;
                bottom: -2px;
            }
        }
    }
    &.dark,
    &.is-style-dark {
        background:#262626;
        margin-top: 10px;
        h2,
        p,
        li,
        a {
            color:white;
        }
    }
    &.reverse,
    &.is-style-reverse {
        .wrapper {
            flex-direction: row-reverse;
        }
    }
}

@include screen(1024) {
    .image-text {
        padding: 80px 0;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
        .media {
            margin:0;
            &:before {
                height: 242px;
                width: 251px;
                left: -12px;
                top: -12px;
            }
            &:after {
                height: 242px;
                width: 251px;
                right: -12px;
                bottom: -12px;
            }
        }
    }
}