.list-text-two {
  padding: 35px;
  background: #262626;
}
.list-text-two .flex {
  flex: 0 0 48.5%;
  max-width: 700px;
  margin-bottom: 25px;
}
.list-text-two .wp-block-image {
  margin-bottom: 30px;
}
.list-text-two .wp-block-buttons {
  margin-top: 30px;
}
.list-text-two h5 {
  color: #1F7A8C;
}
.list-text-two h2,
.list-text-two p,
.list-text-two li {
  color: white;
}
.list-text-two .list ul {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3vw;
}
.list-text-two .list-sep {
  height: 1px;
  max-width: 75%;
  background: white;
  margin-top: 50px;
  margin-bottom: 35px;
}
.list-text-two .item {
  max-width: 330px;
  margin-top: 25px;
}
.list-text-two .item-title {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.list-text-two .item-content {
  font-size: 18px;
  line-height: 24px;
}

@media only screen and (min-width: 1024px) {
  .list-text-two {
    padding: 80px 0;
  }
  .list-text-two .wrapper {
    flex-direction: row;
  }
  .list-text-two .wp-block-image {
    margin-bottom: 60px;
  }
  .list-text-two .wp-block-buttons {
    margin-top: 40px;
  }
  .list-text-two .container {
    max-width: 1200px;
  }
  .list-text-two .flex {
    margin-bottom: 0px;
  }
  .list-text-two .flex ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
