@import "mixins.scss";

.list-text-two {
    padding: 35px;
    background:#262626;
    .wrapper {

    }
    .flex {
        flex:0 0 48.5%;
        max-width: 700px;
        margin-bottom: 25px;
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    h5 {
        color:#1F7A8C;
    }
    h2,
    p,
    li {
        color:white;
    }
    .list {
        ul {
            display:flex;
            flex-wrap: wrap;
            column-gap: 3vw;
        }
        &-sep {
            height:1px;
            max-width: 75%;
            background:white;
            margin-top: 50px;
            margin-bottom: 35px;
        }
    }
    .item {
        max-width: 330px;
        margin-top: 25px;
        &-title {
            font-size: 20px;
            line-height: 30px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &-content {
            font-size: 18px;
            line-height: 24px;
        }
    }
}

@include screen(1024) {
    .list-text-two {
        padding: 80px 0;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .container {
            max-width: 1200px;
        }
        .flex {
            margin-bottom: 0px;
            ul {
                max-width: 450px;
            }
        }
    }
}