{% extends "block-base.twig" %}

{% block content %}
<section class="list-text-two {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="list">
                <div class="list-sep"></div>
                <div class="list-title">
                {% if fields.content.title %}
                    <h4>{{fields.content.title}}</h4>
                {% endif %}
                </div>
                <ul>
                {% for item in fields.content.items %}
                    <li class="item">
                        <div class="item-title">{{item.title}}</div>
                        <div class="item-content">{{item.text}}</div>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
