@import "mixins.scss";

.icon-showcase {
    font-family: "Inter" !important;
    padding: 25px 0;
    text-align: center;
    .list {
        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin:32px 0;
            li {
                flex: 0 0 30%;
                max-width: 30%;
                margin: 0 15px;
                img {
                    width: auto;
                    height: 100%;
                    max-width: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}
@include screen(1024) {
    .icon-showcase {
        padding: 50px 0;
        li {
            flex: 0 0 170px;
            max-width: 170px;
        }
    }
}