.icon-showcase {
  font-family: "Inter" !important;
  padding: 25px 0;
  text-align: center;
}
.icon-showcase .list ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 32px 0;
}
.icon-showcase .list ul li {
  flex: 0 0 30%;
  max-width: 30%;
  margin: 0 15px;
}
.icon-showcase .list ul li img {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
}

@media only screen and (min-width: 1024px) {
  .icon-showcase {
    padding: 50px 0;
  }
  .icon-showcase li {
    flex: 0 0 170px;
    max-width: 170px;
  }
}

/*# sourceMappingURL=style.css.map */
