{% extends "block-base.twig" %}

{% block content %}
<section class="icon-showcase {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="list">
                <div class="list-title">
                {% if fields.content.title %}
                    <h2>{{fields.content.title}}</h2>
                {% endif %}
                </div>
                <ul>
                {% for item in fields.content.items %}
                    <li>{{imageElement(item.item)}}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
{% endblock %}
