.list-text {
  padding: 25px;
}
.list-text .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.list-text .flex {
  flex: 0 0 48.5%;
  max-width: 623px;
  margin-bottom: 25px;
}
.list-text .list {
  flex: 0 0 500px;
  max-width: 500px;
}
.list-text .wp-block-image {
  margin-bottom: 30px;
}
.list-text .wp-block-buttons {
  margin-top: 30px;
}
.list-text img {
  max-width: 100%;
  height: auto;
}
.list-text .flex ul li {
  padding: 16px;
  color: #222B45;
  padding-left: 60px;
  font-size: 22px;
  line-height: 30px;
  border-bottom: 1px solid #707070;
  position: relative;
}
.list-text .flex ul li:before {
  transition: all 0.3s ease-out;
  content: "\e907";
  font-family: "icomoon";
  color: #C81927;
  position: absolute;
  font-size: 35px;
  left: 28px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}
.list-text .flex ul li:after {
  transition: all 0.3s ease-out;
  content: "";
  background: #C81927;
  position: absolute;
  height: 3px;
  width: 23px;
  left: 7px;
  top: 48%;
}
.list-text .flex ul li:hover {
  color: #C81927;
}
.list-text .flex ul li:hover:before {
  left: 33px;
}
.list-text .flex ul li:hover:after {
  content: "";
  width: 30px;
}
.list-text .list-title {
  margin-bottom: 25px;
}
.list-text .list li {
  font-size: 18px;
  line-height: 24px;
  color: #222B45;
  font-weight: 700;
  margin-left: 5px;
  padding-left: 50px;
  position: relative;
}
.list-text .list li + li {
  margin-top: 15px;
}
.list-text .list li:before {
  font-family: "icomoon";
  content: "\e909";
  color: #000000;
  font-size: 25px;
  vertical-align: middle;
  margin-right: 20px;
  position: absolute;
  left: 5px;
}

@media only screen and (min-width: 1024px) {
  .list-text {
    padding: 80px 0;
  }
  .list-text .wrapper {
    flex-direction: row;
  }
  .list-text .wp-block-image {
    margin-bottom: 60px;
  }
  .list-text .wp-block-buttons {
    margin-top: 40px;
  }
  .list-text .flex {
    margin-bottom: 0px;
  }
  .list-text .flex ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
