.contact-block-one {
  background: url("/wp-content/themes/tec/blocks/pattern-hero-one/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.contact-block-one .container {
  padding: 10px;
  padding-top: 5vh;
}
.contact-block-one .wrapper {
  padding: 30px;
  background: white;
}
.contact-block-one h1 {
  color: #C81927;
  margin-bottom: 25px;
}
.contact-block-one .form-columns {
  margin-top: 50px;
}
.contact-block-one .info-column {
  margin-top: 50px;
}
.contact-block-one .info-column .title {
  margin-bottom: 40px;
}
.contact-block-one form p {
  margin: 0;
}
.contact-block-one form br {
  display: none;
}

.contact-info-title {
  color: #1F7A8C;
  font-size: 18px;
  margin-bottom: 20px;
}
.contact-info-body {
  margin-bottom: 35px;
}
.contact-info-body p {
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  .contact-block-one .container {
    padding-top: 14vh;
  }
  .contact-block-one .wrapper {
    padding: 6.2vh 5.2vw;
    padding-bottom: 0;
  }
  .contact-block-one .flex {
    max-width: 850px;
  }
  .contact-block-one .form-columns {
    display: flex;
    justify-content: space-between;
  }
  .contact-block-one .form-column {
    flex: 0 0 56%;
    max-width: 650px;
  }
  .contact-block-one .info-column {
    margin-top: 0px;
    flex: 0 0 27.5%;
    max-width: 320px;
  }
}
.contact-block-one .wpcf7-form-control-wrap {
  display: block;
}
.contact-block-one .form-field:not(:first-child) {
  margin-top: 35px;
}
.contact-block-one label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 22px;
}
.contact-block-one input {
  font-family: "Inter";
}
.contact-block-one input:not([type=submit]) {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: #F2EFEA;
  padding-left: 20px;
  width: -webkit-fill-available;
}
.contact-block-one input[type=submit] {
  bordeR: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #1F7A8C;
  color: #fff;
  font-weight: 700;
  padding: 16px 38px;
  border-radius: 0;
  font-size: 16px;
  position: relative;
  z-index: 2;
}
.contact-block-one input[type=submit]:before {
  transition: all 0.3s ease-out;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(100% - 7px);
  position: absolute;
  background: #195F6E;
  z-index: -1;
}
.contact-block-one input[type=submit]:hover::before {
  right: 0;
}
.contact-block-one .form-submit {
  position: relative;
}
.contact-block-one .form-submit:before {
  transition: all 0.3s ease-out;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(100% - 7px);
  position: absolute;
  background: #195F6E;
  z-index: -1;
}
.contact-block-one textarea {
  font-family: "Inter";
  width: 100%;
  border: none;
  outline: none;
  background: #F2EFEA;
  padding: 20px;
  height: 100%;
  width: -webkit-fill-available;
}
.contact-block-one .form-submit {
  margin: auto;
  margin-top: 50px;
}
.contact-block-one .form-field.message {
  height: 100%;
}
.contact-block-one .form-field.message > div {
  height: 100%;
}
.contact-block-one .left {
  margin-bottom: 27px;
}
.contact-block-one .left .form-field:not(:last-child) {
  margin-bottom: 25px;
}

@media only screen and (min-width: 1024px) {
  .contact-block-one .wrapper {
    padding: 60px 100px;
    margin: 0;
  }
  .contact-block-one .form-wrapper {
    display: flex;
    flex-direction: column;
  }
  .contact-block-one textarea {
    min-width: 405px;
  }
}

/*# sourceMappingURL=style.css.map */
