@import "mixins.scss";

.contact-block-one {
    background:url('/wp-content/themes/tec/blocks/pattern-hero-one/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    .container {
        padding:10px;
        padding-top: 5vh;
    }
    .wrapper {
        padding:30px;
        background:white;
    }
    h1 {
        color:#C81927;
        margin-bottom:25px;
    }
    .form-columns {
        margin-top: 50px;
    }
    .info-column {
        margin-top: 50px;
        .title {
            margin-bottom: 40px;
        }
    }
    form {
        p {
            margin:0;
        }
        br {
            display:none;
        }
    }
}

.contact-info {
    &-title {
        color: #1F7A8C;
        font-size: 18px;
        margin-bottom: 20px;
    }
    &-body {
        margin-bottom: 35px;
        p {
            margin:0;
        }
    }
}

@include screen(1024) {
    .contact-block-one {
        .container {
            padding-top: 14vh;
        }
        .wrapper {
            padding: 6.2vh 5.2vw;
            padding-bottom: 0;
        }
        .flex {
            max-width: 850px;
        }
        .form-columns {
            display: flex;
            justify-content: space-between;
        }
        .form-column {
            flex: 0 0 56%;
            max-width: 650px;
        }
        .info-column {
            margin-top: 0px;
            flex: 0 0 27.5%;
            max-width: 320px;
        }
    }
}

.contact-block-one {
    .wpcf7-form-control-wrap {
        display:block;
    }
    .form-field {
        &:not(:first-child) {
            margin-top:35px;
        }
    }
    label {
        display:block;
        margin-bottom: 5px;
        font-size: 14px;
        line-height: 22px;
    }
    input {
        font-family: "Inter";
        &:not([type=submit]) {
            width:100%;
            height:50px;
            border:none;
            outline:none;
            background:#F2EFEA; 
            padding-left: 20px;
            width: -webkit-fill-available;
        }
        &[type=submit] {
            bordeR:none;
            cursor:pointer;
            transition: all 0.3s ease-out;
            background: #1F7A8C;
            color: #fff;
            font-weight: 700;
            padding: 16px 38px;
            border-radius: 0;
            font-size: 16px;
            position:relative;
            z-index: 2;
            &:before {
                transition: all 0.3s ease-out;
                content:"";
                top:0;
                bottom:0;
                left:0;
                right:calc(100% - 7px);
                position:absolute;
                background:#195F6E;
                z-index: -1;
            }
            &:hover {
                &::before {
                    right:0;
                }
            }
        }
    }
    .form-submit {
        position: relative;
        &:before {
            transition: all 0.3s ease-out;
            content:"";
            top:0;
            bottom:0;
            left:0;
            right:calc(100% - 7px);
            position:absolute;
            background:#195F6E;
            z-index: -1;
        }
    }
    textarea {
        font-family: "Inter";
        width:100%;
        border:none;
        outline:none;
        background:#F2EFEA; 
        padding:20px;
        height: 100%;
        width: -webkit-fill-available;
    }
    .form-submit {
        margin: auto;
        margin-top:50px;
    }
    .form-field {
        &.message {
            height: 100%;
            & > div {
                height: 100%;
            }
        }
    }
    .left {
        margin-bottom: 27px;
        .form-field {
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
}

@include screen(1024) {
    .contact-block-one {
        .wrapper {
            padding: 60px 100px;
            margin:0;
        }
        .form-wrapper {
            display:flex;
            flex-direction: column;
        }
        textarea {
            min-width: 405px;
        }
    }
}