{% extends "block-base.twig" %}

{% block content %}
<section class="contact-block-one {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <h1>Contact Us</h1>
                <p>For all enquiries, please email us using the contact form below. We will respond to your message within 48 hours.</p>
            </div>
            <div class="form-columns">
                <div class="form-column">
                    <div class="content">
                    {{fields.content.content}}
                    </div>
                    <div class="form">
                    {{fn('do_shortcode', fields.content.shortcode )}}
                    </div>
                </div>
                <div class="info-column">
                    <div class="title">
                        <h3>Contact Details</h3>
                    </div>
                    <ul class="contact-info-list">
                        <li class="contact-info">
                             <div class="contact-info-title">
                                <strong>Telephone</strong>
                             </div>
                            <div class="contact-info-body">
                                <a href="tel:0035314573533">+353 1 457 3533</a>
                            </div>
                        </li>
                        <li class="contact-info">
                            <div class="contact-info-title">
                                <strong>Email</strong>
                            </div>
                            <div class="contact-info-body">
                                <a href="mailto:sales@tecindustrial.ie">sales@tecindustrial.ie</a>
                            </div>
                         </li>
                        <li class="contact-info">
                            <div class="contact-info-title">
                                <strong>Address</strong>
                            </div>
                            <div class="contact-info-body">
                                <p>Unit C3, Weatherwell Business Park</p>
                                <p>Ninth Lock Road</p>
                                <p>Clondalkin, Dublin 22</p>
                                <p>D22 P803, Ireland</p>
                            </div>
                        </li>
                        <li class="contact-info">
                            <div class="contact-info-title">
                                <strong>Opening Hours</strong>
                            </div>
                            <div class="contact-info-body">
                                <p>TEC Industrial is open</p>
                                <p>Monday - Friday 8.00am -5.15pm.</p>
                                <p>We are closed on Saturday & Sunday.</p>
                            </div>
                        </li>
                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
