@import "mixins.scss";

.cta-three {
    padding: 25px;
    background:#262626;
    position:relative;
    overflow: hidden;
    h2,
    h3,
    h4,
    p {
        color:white;
    }
    &:before {
        position: absolute;
        width: 500px;
        background: #c81927;
        content: "";
        top: 0;
        bottom: 0;
        z-index:1;
        transform: skew(341deg);
        right: -434px;
        @include screen(1024) {
            transform: skew(328deg);
            right: -356px;
        }

    }
    .container {
        z-index: 2;
        position: relative;
    }
    .flex {
        max-width: 80%;
        @include screen(1024) {
            max-width: 100%;
        }
    }
}

@include screen(1024) {
    .cta-three {
        padding: 115px 0;
        .flex {
            max-width: 800px;
        }
    }
}
