.cta-three {
  padding: 25px;
  background: #262626;
  position: relative;
  overflow: hidden;
}
.cta-three h2,
.cta-three h3,
.cta-three h4,
.cta-three p {
  color: white;
}
.cta-three:before {
  position: absolute;
  width: 500px;
  background: #c81927;
  content: "";
  top: 0;
  bottom: 0;
  z-index: 1;
  transform: skew(341deg);
  right: -434px;
}
@media only screen and (min-width: 1024px) {
  .cta-three:before {
    transform: skew(328deg);
    right: -356px;
  }
}
.cta-three .container {
  z-index: 2;
  position: relative;
}
.cta-three .flex {
  max-width: 80%;
}
@media only screen and (min-width: 1024px) {
  .cta-three .flex {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .cta-three {
    padding: 115px 0;
  }
  .cta-three .flex {
    max-width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
