@import "mixins.scss";

footer {
    background:#F2EFEA;
    padding: 25px 35px 1px 35px;
    .container {
        max-width: 1135px;
    }
    .two {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
    }
    .footer-menu {
        margin-bottom: 25px;
        flex: 0 0 50%;
        .title {
            font-size: 18px;
            color:#222B45;
            font-weight: 700;
            margin-bottom: 15px;
        }
        a {
            transition: all 0.3s ease-out;
            &:hover {
                color: #C81927;
            }
        }
        .link {
            a {
                font-size: 14px;
                line-height: 22px;
            }
            & + .link {
                margin-top:5px;
            }
        }
    }
    .social-links {
        margin-top: 10px;
        display: flex;
        li + li {
            margin-left: 20px;
        }
        a {
            position:relative;
            &:before {
                font-size: 25px;
                font-family: "icomoon";
            }
        }
    }
    .fb a {
        &:before {
            content: "\e903";
        }
    }
    .li a {
        &:before {
            content: "\e904";
        }
    }
    .tw a {
        &:before {
            content: "\e905";
        }
    }
}

.footer-bottom {
    background:#F2EFEA;
    padding: 25px 35px;
    font-size: 14px;
    a {
        transition: all 0.3s ease-out;
        &:hover {
            color: #C81927;
        }
    }
    .container {
        border-top: 1px solid #707070;
        max-width: 1135px;
    }
    .cp {
        &-text {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 15px;
            margin-bottom: 22px;
        }
        &-icon {
            margin-right: 12px;
            &:before {
                font-family: "icomoon";
                content: "\e90b";
                font-size: 18px;
            }
        }
        &-menu {
            ul {
                display: flex;
                justify-content: space-evenly;
            }
            li + li {
                margin-left: 50px;
            }
        }
    }
}

@include screen(1024) {
    footer {
        .wrapper {
            display: flex;
            justify-content: space-between;
            margin: 25px 0;
        }
        .footer-menu {
            flex: 0 0 200px;
            &:nth-child(1) {
                order:1;
            }
            &:nth-child(2) {
                order:3;
            }
            &:nth-child(3) {
                order:2;
            }
        }
        .two {
            flex: 0 0 600px;
            margin-top: 30px;
        }
        .social-links {
            margin-top:20px;
        }
    }
    .footer-bottom {
        padding:0;
        .cp {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 35px 100px 35px 25px;
            &-text {
                margin-bottom: 0;
            }
        }
    }
}


.fade {
    &-up {
        opacity: 0;
        transform: translate3d(0,100px,0);
        transition-property: opacity,transform;
        transition-duration: 1.5s;
        transition-timing-function: cubic-bezier(.175,.885,.32,1.275);
    }
    
}