footer {
  background: #F2EFEA;
  padding: 25px 35px 1px 35px;
}
footer .container {
  max-width: 1135px;
}
footer .two {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
footer .footer-menu {
  margin-bottom: 25px;
  flex: 0 0 50%;
}
footer .footer-menu .title {
  font-size: 18px;
  color: #222B45;
  font-weight: 700;
  margin-bottom: 15px;
}
footer .footer-menu a {
  transition: all 0.3s ease-out;
}
footer .footer-menu a:hover {
  color: #C81927;
}
footer .footer-menu .link a {
  font-size: 14px;
  line-height: 22px;
}
footer .footer-menu .link + .link {
  margin-top: 5px;
}
footer .social-links {
  margin-top: 10px;
  display: flex;
}
footer .social-links li + li {
  margin-left: 20px;
}
footer .social-links a {
  position: relative;
}
footer .social-links a:before {
  font-size: 25px;
  font-family: "icomoon";
}
footer .fb a:before {
  content: "\e903";
}
footer .li a:before {
  content: "\e904";
}
footer .tw a:before {
  content: "\e905";
}

.footer-bottom {
  background: #F2EFEA;
  padding: 25px 35px;
  font-size: 14px;
}
.footer-bottom a {
  transition: all 0.3s ease-out;
}
.footer-bottom a:hover {
  color: #C81927;
}
.footer-bottom .container {
  border-top: 1px solid #707070;
  max-width: 1135px;
}
.footer-bottom .cp-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 22px;
}
.footer-bottom .cp-icon {
  margin-right: 12px;
}
.footer-bottom .cp-icon:before {
  font-family: "icomoon";
  content: "\e90b";
  font-size: 18px;
}
.footer-bottom .cp-menu ul {
  display: flex;
  justify-content: space-evenly;
}
.footer-bottom .cp-menu li + li {
  margin-left: 50px;
}

@media only screen and (min-width: 1024px) {
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
  }
  footer .footer-menu {
    flex: 0 0 200px;
  }
  footer .footer-menu:nth-child(1) {
    order: 1;
  }
  footer .footer-menu:nth-child(2) {
    order: 3;
  }
  footer .footer-menu:nth-child(3) {
    order: 2;
  }
  footer .two {
    flex: 0 0 600px;
    margin-top: 30px;
  }
  footer .social-links {
    margin-top: 20px;
  }
  .footer-bottom {
    padding: 0;
  }
  .footer-bottom .cp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 100px 35px 25px;
  }
  .footer-bottom .cp-text {
    margin-bottom: 0;
  }
}
.fade-up {
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition-property: opacity, transform;
  transition-duration: 1.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*# sourceMappingURL=style.css.map */
