.horizontal-list .items {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.horizontal-list .item {
  margin-bottom: 25px;
}
.horizontal-list .title {
  font-size: 60px;
  line-height: 72px;
  color: #C81927;
  font-weight: 700;
  margin-bottom: 10px;
}
.horizontal-list .label {
  font-size: 18px;
  line-height: 24px;
  max-width: 260px;
}
.horizontal-list .wrapper {
  padding: 0 35px;
}

@media only screen and (min-width: 1024px) {
  .horizontal-list {
    padding: 50px 0;
  }
  .horizontal-list .wrapper {
    padding: 0;
  }
  .horizontal-list .items {
    justify-content: space-evenly;
  }
}

/*# sourceMappingURL=style.css.map */
