@import "mixins.scss";

.horizontal-list {
    .items {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
    .item {
        margin-bottom: 25px;
    }
    .title {
        font-size: 60px;
        line-height: 72px;
        color:#C81927;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .label {
        font-size: 18px;
        line-height: 24px;
        max-width: 260px;
    }
    .wrapper {
        padding: 0 35px;
    }
}

@include screen(1024) {
    .horizontal-list {
        padding: 50px 0;
        .wrapper {
            padding: 0;
        }
        .items {
            justify-content: space-evenly;
        }
    }
}