{% extends "block-base.twig" %}

{% block content %}
<section class="horizontal-list {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="items fade-up">
                {% for item in fields.content.items %}
                    <li class="item">
                        <div class="inner">
                            <div class="title">{{item.title}}</div>
                            <div class="label">{{item.label}}</div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}
