@import "mixins.scss";

.alert-content {
    background: rgba(51, 51, 51, 1);
    & > * {
        color:white;
    }
    svg {
        display:block;
        max-width: 100%;
        height: auto;
    }
    h3 {
        font-weight:700;
        font-size: 40px;
        line-height: 46px;
        margin:35px 0;
    }
    p {
        font-size: 16px;
        max-width: 600px;
        margin: 20px auto;
    }
    .wrapper {
        padding: 25px;
    }
}

@include screen(1024) {
    .alert-content {
        .wrapper {
            padding:0;
            padding-bottom:15px;
        }
    }
}