.alert-content {
  background: rgb(51, 51, 51);
}
.alert-content > * {
  color: white;
}
.alert-content svg {
  display: block;
  max-width: 100%;
  height: auto;
}
.alert-content h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 46px;
  margin: 35px 0;
}
.alert-content p {
  font-size: 16px;
  max-width: 600px;
  margin: 20px auto;
}
.alert-content .wrapper {
  padding: 25px;
}

@media only screen and (min-width: 1024px) {
  .alert-content .wrapper {
    padding: 0;
    padding-bottom: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
