{% extends "block-base.twig" %}

{% block content %}
<section class="alert-content fade-up {{block.className}}" {{blockSection(block)}}>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1980" height="37" viewBox="0 0 1980 37">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_148713" data-name="Rectangle 148713" width="1980" height="37" fill="#fff" stroke="#333" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Strip" clip-path="url(#clip-path)">
    <g id="Group_163830" data-name="Group 163830" transform="translate(7.919 0.189)">
      <rect id="Rectangle_148712" data-name="Rectangle 148712" width="1998.468" height="74.061" transform="translate(0)" fill="#ce1126"/>
      <path id="Path_86980" data-name="Path 86980" d="M205.428,0l6.245,4.993V48.265L151.3,0Z" transform="translate(1786.795 0)" fill="#333"/>
      <path id="Path_86981" data-name="Path 86981" d="M263.227,0l92.636,74.061H301.739L209.1,0Z" transform="translate(1609.602 0)" fill="#333"/>
      <path id="Path_86982" data-name="Path 86982" d="M472.323,0l92.638,74.061H510.835L418.2,0Z" transform="translate(1281.112 0)" fill="#333"/>
      <path id="Path_86983" data-name="Path 86983" d="M681.424,0l92.638,74.061H719.937L627.3,0Z" transform="translate(952.617 0)" fill="#333"/>
      <path id="Path_86984" data-name="Path 86984" d="M890.522,0,983.16,74.062H929.034L836.4,0Z" transform="translate(624.126 0)" fill="#333"/>
      <path id="Path_86985" data-name="Path 86985" d="M1099.624,0l92.636,74.061h-54.125L1045.5,0Z" transform="translate(295.631 0)" fill="#333"/>
      <path id="Path_86986" data-name="Path 86986" d="M1308.72,0l92.638,74.061h-54.126L1254.6,0Z" transform="translate(-32.861 0)" fill="#333"/>
      <path id="Path_86987" data-name="Path 86987" d="M1517.822,0l92.636,74.061h-54.125L1463.7,0Z" transform="translate(-361.354 0)" fill="#333"/>
      <path id="Path_86988" data-name="Path 86988" d="M1726.92,0l92.638,74.061h-54.125L1672.795,0Z" transform="translate(-689.847 0)" fill="#333"/>
      <path id="Path_86989" data-name="Path 86989" d="M1936.021,0l92.637,74.061h-54.124L1881.895,0Z" transform="translate(-1018.341 0)" fill="#333"/>
      <path id="Path_86990" data-name="Path 86990" d="M2145.119,0l92.638,74.061H2183.63L2090.993,0Z" transform="translate(-1346.834 0)" fill="#333"/>
      <path id="Path_86991" data-name="Path 86991" d="M2354.217,0l92.637,74.061h-54.126L2300.092,0Z" transform="translate(-1675.325 0)" fill="#333"/>
      <path id="Path_86992" data-name="Path 86992" d="M2563.32,0l92.636,74.061h-54.124L2509.194,0Z" transform="translate(-2003.822 0)" fill="#333"/>
      <path id="Path_86993" data-name="Path 86993" d="M2772.417,0l92.637,74.061H2810.93L2718.292,0Z" transform="translate(-2332.313 0)" fill="#333"/>
      <path id="Path_86994" data-name="Path 86994" d="M2981.516,0l92.637,74.061h-54.125L2927.391,0Z" transform="translate(-2660.806 0)" fill="#333"/>
      <path id="Path_86995" data-name="Path 86995" d="M3190.613,0l92.639,74.061h-54.126L3136.489,0Z" transform="translate(-2989.298 0)" fill="#333"/>
      <path id="Path_86996" data-name="Path 86996" d="M3399.711,0l92.639,74.061h-54.127L3345.586,0Z" transform="translate(-3317.788 0)" fill="#333"/>
      <path id="Path_86997" data-name="Path 86997" d="M3609.854,97.194h-54.125l-1.04-.831V53.091Z" transform="translate(-3554.688 -23.133)" fill="#333"/>
    </g>
  </g>
</svg>
    <div class="container">
        <div class="wrapper">
            <div class="top">
            {{fields.content.content}}
            </div>
        </div>
    </div>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1980" height="37" viewBox="0 0 1980 37">
  <defs>
    <clipPath id="clip-path">
      <rect id="Rectangle_148713" data-name="Rectangle 148713" width="1980" height="37" fill="#fff" stroke="#333" stroke-width="1"/>
    </clipPath>
  </defs>
  <g id="Strip" clip-path="url(#clip-path)">
    <g id="Group_163830" data-name="Group 163830" transform="translate(7.919 0.189)">
      <rect id="Rectangle_148712" data-name="Rectangle 148712" width="1998.468" height="74.061" transform="translate(0)" fill="#ce1126"/>
      <path id="Path_86980" data-name="Path 86980" d="M205.428,0l6.245,4.993V48.265L151.3,0Z" transform="translate(1786.795 0)" fill="#333"/>
      <path id="Path_86981" data-name="Path 86981" d="M263.227,0l92.636,74.061H301.739L209.1,0Z" transform="translate(1609.602 0)" fill="#333"/>
      <path id="Path_86982" data-name="Path 86982" d="M472.323,0l92.638,74.061H510.835L418.2,0Z" transform="translate(1281.112 0)" fill="#333"/>
      <path id="Path_86983" data-name="Path 86983" d="M681.424,0l92.638,74.061H719.937L627.3,0Z" transform="translate(952.617 0)" fill="#333"/>
      <path id="Path_86984" data-name="Path 86984" d="M890.522,0,983.16,74.062H929.034L836.4,0Z" transform="translate(624.126 0)" fill="#333"/>
      <path id="Path_86985" data-name="Path 86985" d="M1099.624,0l92.636,74.061h-54.125L1045.5,0Z" transform="translate(295.631 0)" fill="#333"/>
      <path id="Path_86986" data-name="Path 86986" d="M1308.72,0l92.638,74.061h-54.126L1254.6,0Z" transform="translate(-32.861 0)" fill="#333"/>
      <path id="Path_86987" data-name="Path 86987" d="M1517.822,0l92.636,74.061h-54.125L1463.7,0Z" transform="translate(-361.354 0)" fill="#333"/>
      <path id="Path_86988" data-name="Path 86988" d="M1726.92,0l92.638,74.061h-54.125L1672.795,0Z" transform="translate(-689.847 0)" fill="#333"/>
      <path id="Path_86989" data-name="Path 86989" d="M1936.021,0l92.637,74.061h-54.124L1881.895,0Z" transform="translate(-1018.341 0)" fill="#333"/>
      <path id="Path_86990" data-name="Path 86990" d="M2145.119,0l92.638,74.061H2183.63L2090.993,0Z" transform="translate(-1346.834 0)" fill="#333"/>
      <path id="Path_86991" data-name="Path 86991" d="M2354.217,0l92.637,74.061h-54.126L2300.092,0Z" transform="translate(-1675.325 0)" fill="#333"/>
      <path id="Path_86992" data-name="Path 86992" d="M2563.32,0l92.636,74.061h-54.124L2509.194,0Z" transform="translate(-2003.822 0)" fill="#333"/>
      <path id="Path_86993" data-name="Path 86993" d="M2772.417,0l92.637,74.061H2810.93L2718.292,0Z" transform="translate(-2332.313 0)" fill="#333"/>
      <path id="Path_86994" data-name="Path 86994" d="M2981.516,0l92.637,74.061h-54.125L2927.391,0Z" transform="translate(-2660.806 0)" fill="#333"/>
      <path id="Path_86995" data-name="Path 86995" d="M3190.613,0l92.639,74.061h-54.126L3136.489,0Z" transform="translate(-2989.298 0)" fill="#333"/>
      <path id="Path_86996" data-name="Path 86996" d="M3399.711,0l92.639,74.061h-54.127L3345.586,0Z" transform="translate(-3317.788 0)" fill="#333"/>
      <path id="Path_86997" data-name="Path 86997" d="M3609.854,97.194h-54.125l-1.04-.831V53.091Z" transform="translate(-3554.688 -23.133)" fill="#333"/>
    </g>
  </g>
</svg>

</section>
{% endblock %}
