.hero-with-boxes .hero {
  background: var(--bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-with-boxes .hero .container {
  padding: 400px 35px 90px 35px;
}
.hero-with-boxes .hero h3 {
  color: white;
}
.hero-with-boxes .hero p {
  color: white;
}
.hero-with-boxes .acf-innerblocks-container {
  max-width: 625px;
}
.hero-with-boxes .color-boxes {
  margin: -54px 17px 0px 17px;
  padding-bottom: 50px;
}
.hero-with-boxes .container {
  max-width: 1136px;
}

.color-boxes .arrow {
  position: relative;
  height: 19px;
  width: 23px;
  margin-right: 30px;
}
.color-boxes .arrow:before {
  position: absolute;
  content: "\e908";
  font-family: "icomoon";
  color: white;
  font-size: 35px;
}
.color-boxes .box {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
  min-height: 239px;
  display: flex;
  align-items: end;
  position: relative;
}
.color-boxes .box:before {
  content: "\e90e";
  position: absolute;
  font-family: "icomoon";
  color: #FFFFFF;
  font-size: 100px;
  transform: rotate(270deg);
  right: 18px;
  top: 30px;
  opacity: 0.4;
}
.color-boxes .box:nth-child(1) {
  background: #C81927;
}
.color-boxes .box:nth-child(2) {
  background: #262626;
}
.color-boxes .box:nth-child(3) {
  background: #1F7A8C;
}
.color-boxes .box-title {
  display: flex;
  justify-content: space-between;
}
.color-boxes .box + .box {
  margin-top: 15px;
}
.color-boxes .inner {
  display: block;
  padding: 0px 15px 0px 30px;
  width: 100%;
}
.color-boxes .title {
  font-size: 22px;
  line-height: 28px;
  color: white;
  font-weight: 700;
}
.color-boxes p {
  font-size: 14px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 15px;
  margin-top: 8px;
  max-width: 85%;
}

@media only screen and (min-width: 1024px) {
  .color-boxes {
    display: flex;
    justify-content: space-between;
  }
  .color-boxes .box {
    flex: 0 0 32.7%;
  }
  .color-boxes .box + .box {
    margin-top: 0;
  }
  .color-boxes .arrow {
    margin-right: 50px;
  }
}
@media only screen and (min-width: 1024px) {
  .hero-with-boxes .hero .container {
    padding: 310px 35px 185px 35px;
  }
  .hero-with-boxes .color-boxes {
    margin: -153px 0px 0px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
