{% extends "block-base.twig" %}

{% block content %}
<section class="hero-with-boxes {{block.className}}" {{blockSection(block)}}>
    <div class="hero" style="--bg:url('{{cdnThis(fields.content.image.url)}}')">
        <div class="container">
            <InnerBlocks />
        </div>
    </div>
    <div class="container">
        <div class="wrapper">
            <ul class="color-boxes fade-up">
                {% for box in fields.content.items %}
                    <li class="box">
                        <a class="inner" href="{{box.link.url}}">
                            <div class="box-title">
                                <div class="title">{{box.link.title}}</div>
                                <div class="arrow"></div>
                            </div>
                            <p>{{box.text}}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}

