@use "mixins" as *;

.wp-block-button.red {
    .wp-block-button__link {
        background:#C81927;
        &:before {
            background:#93121C;
        }
    }
}
.wp-block-button__link {
    transition: all 0.3s ease-out;
    background: #1F7A8C;
    color: #fff;
    font-weight: 700;
    padding: 16px 38px;
    border-radius: 0;
    font-size: 16px;
    position:relative;
    z-index: 2;
    min-width: 220px;
    &:before {
        transition: all 0.3s ease-out;
        content:"";
        top:0;
        bottom:0;
        left:0;
        right:calc(100% - 7px);
        position:absolute;
        background:#195F6E;
        z-index: -1;
    }
    &:hover {
        &::before {
            right:0;
        }
    }
    &.red {
        background:#C81927;
        &:before {
            background:#93121C;
        }
    }
}
