@use "mixins" as *;

body {
    margin:0;
}

.container {
    margin: 0 auto;
    // position: relative;
    width: auto;
    max-width: 960px;
    &.is-style-fluid {
        max-width: none!important;
        padding-left: 32px;
        padding-right: 32px;
        width: 100%;
    }
    &-xl {
        margin: 0 auto;
        // position: relative;
        width: auto;
    }
}

.entry-content {
//    padding-top:82px;
    @include screen(1024) {
        padding-top: 106px;
    }
}

.container {
    @include screen(1024) {
        max-width: 960px;
    }
    @include screen(1280) {
        max-width: 1100px;
    }
    @include screen(1366) {
        max-width: 1280px;
    }
    @include screen(1536) {
        max-width: 1366px;
    }
    &-xl {
        @include screen(1024) {
            max-width: 960px;
        }
        @include screen(1280) {
            max-width: 1200px;
        }
        @include screen(1366) {
            max-width: 1366px;
        }
    }
}

*::selection {
    background: #1F7A8C;
    color:white;
}

*::-moz-selection {
    background: #1F7A8C;
    color:white;
}

.hide-mobile {
    @include screen(0,1023) {
        display:none;
    }
}

.hide-desktop {
    @include screen(1024) {
        display:none;
    }
}