@use "mixins" as *;
@import "../../../node_modules/rfs/scss.scss";

// @font-face {
//     font-family: "icomoon";
//     src: url("/wp-content/themes/tec/assets/fonts/icomoon.ttf") format("truetype");
//     src: url("/wp-content/themes/tec/assets/fonts/icomoon.woff") format("woff");
//     src: url("/wp-content/themes/tec/assets/fonts/icomoon.woff2") format("woff2");
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}

html {
  font-family: 'Inter';
  color:#262626;
}

p {
  @include font-size(18px);
  line-height:1.2;
  margin: 20px 0;
}

a {
  color:#262626;
  text-decoration: none;
}

h {
  &1 {
    @include font-size(40px);
    font-weight: 700;
    line-height:1.2;
  }
  &2 {
    @include font-size(36px);
    font-weight: 700;
    line-height:1.2;
  }
  &3 {
    @include font-size(32px);
    font-weight: 700;
    line-height:1.2;
  }
  &4 {
    @include font-size(28px);
    font-weight: 700;
    line-height:1.2;
  }
  &5 {
    @include font-size(22px);
    font-weight: 700;
    line-height:1.2;
  }
}

big {
  @include font-size(20px);
  line-height:1.2;
}

small {
  @include font-size(14px);
  line-height:1.2;
}
strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}