.entry-content {
  padding: 20px 0;
}
@media only screen and (min-width: 1024px) {
  .entry-content {
    padding: 40px 0;
  }
}
.entry-content ul {
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .entry-content ul {
    margin: 50px 0;
  }
}
.entry-content ul li {
  font-size: 18px;
  line-height: 24px;
  color: #222B45;
  font-weight: 700;
  position: relative;
  padding-left: 40px;
}
.entry-content ul li:before {
  font-family: "icomoon";
  content: "\e909";
  color: #C81927;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 0px;
}
.entry-content ul li + li {
  margin-top: 12px;
}
@media only screen and (min-width: 1024px) {
  .entry-content ul li + li {
    margin-top: 24px;
  }
}
.entry-content .wp-block-image {
  display: block;
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .entry-content .wp-block-image {
    margin: 45px 0;
  }
}

.pattern-hero-one {
  background-size: cover;
}
.pattern-hero-one .container {
  padding-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .single-container {
    padding-top: 106px;
  }
}
.single-holder .wrapper {
  padding: 0 30px;
  display: flex;
  flex-direction: column-reverse;
}
@media only screen and (min-width: 1024px) {
  .single-holder .wrapper {
    flex-direction: row;
    padding-left: 115px;
    padding-right: 50px;
    column-gap: 4.1674vw;
  }
}
@media only screen and (min-width: 1024px) {
  .single-holder .flex {
    max-width: 600px;
  }
}
@media only screen and (min-width: 1366px) {
  .single-holder .flex {
    max-width: 800px;
  }
}
@media only screen and (min-width: 1024px) {
  .single-fields {
    margin-top: 40px;
  }
}
.single-fields li {
  font-size: 18px;
  line-height: 24px;
}
.single-fields li + li {
  margin-top: 40px;
}
.single-fields .label {
  color: #1F7A8C;
  font-weight: 700;
}

.single-testimonial {
  position: relative;
  min-height: 535px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
}
@media only screen and (min-width: 1024px) {
  .single-testimonial {
    min-height: 423px;
  }
}
.single-testimonial .bg {
  box-shadow: 0px -8px 72px rgba(111, 109, 113, 0.08);
  background: #F2EFEA;
  max-width: 100vw;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  min-height: 535px;
  transform: skew(340deg);
  left: -221px;
}
@media only screen and (min-width: 1024px) {
  .single-testimonial .bg {
    left: -123px;
    transform: skew(330deg);
    min-height: 423px;
    max-width: 65vw;
  }
}
.single-testimonial .shape {
  position: absolute;
  top: -16px;
  left: -16px;
  width: 58px;
  height: 58px;
  background: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.single-testimonial .inner {
  position: relative;
  background: white;
  min-height: 180px;
  padding: 60px;
  margin: 25px;
}
@media only screen and (min-width: 1024px) {
  .single-testimonial .inner {
    margin: 0px;
  }
}
.single-testimonial-content {
  font-size: 20px;
  line-height: 30px;
  max-width: 615px;
}
.single-testimonial-author {
  color: #1F7A8C;
  font-weight: 700;
  font-size: 22px;
  line-height: 30px;
  margin-top: 45px;
}

/*# sourceMappingURL=style.css.map */
