@import "mixins.scss";

.entry-content {
    padding: 20px 0;
    @include screen(1024) {
        padding: 40px 0;
    }
    ul {
        margin: 25px 0;
        @include screen(1024) {
            margin: 50px 0;
        }
        li {
            font-size: 18px;
            line-height: 24px;
            color:#222B45;
            font-weight: 700;
            position:relative;
            padding-left:40px;

            &:before {
                font-family: "icomoon";
                content: "\e909";
                color:#C81927;
                font-size: 24px;
                font-weight: 400;
                position: absolute;
                left: 0px;
            }
            & + li {
                margin-top:12px;
                @include screen(1024) {
                    margin-top:24px;
                }
            }
        }
    }
    .wp-block-image {
        display: block;
        margin: 25px 0;
        @include screen(1024) {
            margin: 45px 0;
        }
    }
}

.pattern-hero-one {
    background-size: cover;
    .container {
        padding-bottom: 0;
    }
}

.single {
    &-container {
        @include screen(1024) {
            padding-top: 106px;
        }
    }
    &-holder {
        .wrapper {
            padding:0 30px;
            display:flex;
            flex-direction: column-reverse;
            @include screen(1024) {
                flex-direction: row;
                padding-left: 115px;
                padding-right: 50px;
                column-gap: 4.1674vw;
            }
        }
        .flex {
            @include screen(1024) {
                max-width: 600px;
            }
            @include screen(1366) {
                max-width: 800px;
            }
        }
    }
    &-fields {
        @include screen(1024) {
            margin-top: 40px;
        }
        li {
            font-size: 18px;
            line-height: 24px;
            & + li {
                margin-top:40px;
            }
        }
        .label {
            color:#1F7A8C;
            font-weight: 700;
        }
    }
}

.single-testimonial {
    position: relative;
    min-height: 535px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    @include screen(1024) {
        min-height: 423px;
    }
    .bg {
        box-shadow: 0px -8px 72px rgba(111, 109, 113, 0.08);
        background: #F2EFEA;
        max-width: 100vw;
        position: absolute;
        top: 0;
        right: 0;
        z-index: -1;
        min-height: 535px;
        transform: skew(340deg);
        left: -221px;
        @include screen(1024) {
            left: -123px;
            transform: skew(330deg);
            min-height: 423px;
            max-width: 65vw;
        }
    }
    .shape {
        position: absolute;
        top: -16px;
        left: -16px;
        width: 58px;
        height: 58px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .inner {
        position: relative;
        background: white;
        min-height: 180px;
        padding: 60px;
        margin: 25px;
        @include screen(1024) {
            margin: 0px;
        }
    }
    &-content {
        font-size: 20px;
        line-height: 30px;
        max-width: 615px;
    }
    &-author {
        color:#1F7A8C;
        font-weight: 700;
        font-size: 22px;
        line-height: 30px;
        margin-top: 45px;
    }
}