.pattern-hero-one {
  background: url("/wp-content/themes/tec/blocks/pattern-hero-one/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.pattern-hero-one .container {
  padding: 10px;
  padding-top: 5vh;
}
.pattern-hero-one .wrapper {
  background: white;
  padding: 0 30px;
  padding-top: 30px;
}
.pattern-hero-one h1 {
  color: #C81927;
  margin-bottom: 25px;
}

@media only screen and (min-width: 1024px) {
  .pattern-hero-one .container {
    padding-top: 14vh;
  }
  .pattern-hero-one .wrapper {
    padding: 75px 6vw;
    padding-bottom: 0;
  }
  .pattern-hero-one .flex {
    max-width: 850px;
  }
}

/*# sourceMappingURL=style.css.map */
