@import "mixins.scss";

.pattern-hero-one {
    background:url('/wp-content/themes/tec/blocks/pattern-hero-one/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    .container {
        padding: 10px;
        padding-top: 5vh;
    }
    .wrapper {
        background:white;
        padding: 0 30px;
        padding-top: 30px;
    }
    h1 {
        color:#C81927;
        margin-bottom:25px;
    }
}

@include screen(1024) {
    .pattern-hero-one {
        .container {
            padding-top: 14vh;
        }
        .wrapper {
            padding: 75px 6vw;
            padding-bottom: 0;
        }
        .flex {
            max-width: 850px;
        }
    }
}