{% extends "block-base.twig" %}

{% block content %}
<section class="mozaic-hero {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="one" style="--bg:url('{{cdnThis(fields.content.image_one.url)}}')"></div>
        <div class="two">
            <div class="two-top" style="--bg:url('{{cdnThis(fields.content.image_two.url)}}')"></div>
            <div class="two-bot" style="--bg:url('{{cdnThis(fields.content.image_three.url)}}')"></div>
        </div>
        <div class="three" style="--bg:url('{{cdnThis(fields.content.image_four.url)}}')"></div>
    </div>
    <div class="content" style="--bg:url('{{cdnThis(fields.content.image_one.url)}}')">
        <div class="container">
            <div class="inner">
                <h1>404</h1>
                <h4>Uh oh, something went wrong.</h4>
                <div class="wp-block-buttons is-layout-flex">
                    <div class="wp-block-button">
                        <a class="wp-block-button__link wp-element-button" href="{{fn('get_home_url')}}">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
