.double-image img{width:100%;height:auto}@media only screen and (min-width:1024px){.double-image .wrapper{display:flex;justify-content:space-between}.double-image .one,.double-image .two{flex:0 0 calc(50% - 7.5px);max-width:calc(50% - 7.5px)}}