@import "mixins.scss";

.double-image {
    img {
        width: 100%;
        height:auto;
    }
}
@include screen(1024) {
    .double-image {
        .wrapper {
            display:flex;
            justify-content: space-between;
        }
        .one,
        .two {
            flex: 0 0 calc(50% - 7.5px);
            max-width: calc(50% - 7.5px);
        }
    }
}