{% extends "block-base.twig" %}

{% block content %}
<section class="double-image {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="one">
            {{imageElement(fields.content.image_one)}}
        </div>
        <div class="two">
            {{imageElement(fields.content.image_two)}}
        </div>
    </div>
</section>
{% endblock %}
