@import "mixins.scss";

.header {
    .wrapper {
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        background: white;
    }
    .container {
        display:flex;
        align-items: center;
    }
    &-menu {
        display: flex;
    }
    .shop-cta {
        padding: 22px 35px;
        background: rgba(242, 239, 234, 1);
        a {
            font-size: 16px;
            line-height: 24px;
            &:before {
                font-family: "icomoon";
                content: "\e90f";
                color: #c81927;
                font-size: 30px;
                vertical-align: middle;
                margin-right: 15px;
            }
        }
    }
}

.shop-cta {
    @include screen(1024) {
        display:none;
    }
    
    @include screen(1280) {
        display:block;
        position: absolute;
        right: 0;
        top: 18px;
        background: #fff !important
    }

    @include screen(1536) {
        right: 100px;
    }

    @include screen(1700) {
        right: 150px;
    }

    @include screen(1920) {
        right: 185px;
    }
}
@include screen(1024) {
    .header {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        background: white;
        z-index: 25;
        .one {
            margin-right: 10vw;
        }
    }
    .megamenu {
        &-inner {
            width: 50%;
            margin: auto;
        }
    }
}

@include screen(1366) {
    .header {
        .one {
            margin-right: 15.5vw;
        }
    }
    .megamenu {
        &-inner {
            width: 40%;
            margin: auto;
        }
    }
}

@include screen(1024) {
    .menu {
        &-link {
            font-size: 18px;
            line-height: 24px;
        }
        &-subitem {
            &:before {
                transition:all 0.3s ease-out;
                content: "\e908";
                font-family: "icomoon";
                color: white;
                margin-right: 15px;
                font-size: 25px;
                vertical-align: sub;
            
            }
            &:hover {
                color:#C81927;
                &:before {
                    color:#C81927;
                }
                .menu-sublink {
                    color:#C81927;
                }
            }
            & + .menu-subitem {
                margin-top: 15px;
            }
        }
        &-sublink {
            transition:all 0.3s ease-out;
            font-size: 18px;
            line-height: 24px;
            color:#F2EFEA;
        }
        &-item {
            & + .menu-item {
                margin-left: 55px;
            }
        }
    }
}

@include screen(1024) {
    .menu {
        &-link {
            padding-right: 30px;
        }
        &-item {
            // padding: 41px 0;
            &:hover {
                // padding: 41px 0;
                .megamenu {
                    transform: translateY(0%);
                }
                .submenu {
                    transform: translateY(0%);
                }
                .menu-link {
                    &:after {
                        transform: rotate(180deg);
                    }
                }
            }
            &.parent {
                .menu-link {
                    &:after {
                        transition: all 0.3s ease-out;
                        font-family: "icomoon";
                        content: "\e907";
                        font-size: 20px;
                        vertical-align: middle;
                        margin-left: 5px;
                        position: absolute;
                    }
                }
                &:not(.mega) {
                    position: relative;
                }
            }
        }
    }
}

@include screen(1024) {
    .menu-hover {
        .menu-item {
            padding: 41px 0;
            &:not(.mega) {
                .submenu {
                    top: 106px;
                }
            }
        }
    }
}

@include screen(1024) {
    .megamenu {
        transition: all 0.5s ease-out;
        background:#262626;
        position: absolute;
        top: 106px;
        left: 0;
        right: 0;
        z-index: 20;
        overflow: hidden;
        transform: translateY(-100%);
        z-index: -1;
        &-inner {
            margin: auto;
        }
        &-title {
            font-size: 22px;
            line-height: 28px;
            color:#F2EFEA;
            font-weight: 700;
            margin: 35px 0;
        }
        &-menus {
            display:flex;
            margin-bottom: 50px;
            ul {
                &:nth-child(2) {
                    margin-left: 139px;
                }
            }
        }
    }
}

@include screen(1024) {
    .submenu {
        transition: transform 0.5s ease-out;
        background:#262626;
        position: absolute;
        top: 65px;
        left: -20px;
        right: -200px;
        z-index: 19;
        overflow: hidden;
        transform: translateY(-100%);
        z-index: -1;
        &-inner {
            margin: 0 20px;
        }
        &-title {
            font-size: 22px;
            line-height: 28px;
            color:#F2EFEA;
            font-weight: 700;
            margin: 35px 0;
        }
        &-menus {
            display:flex;
            margin-bottom: 50px;
            ul {
                &:nth-child(2) {
                    margin-left: 139px;
                }
            }
        }
    }
}

@include screen(1024) {
    .header {
        .three {
            display:none;
        }
    }
}

@include screen(0,1023) {
    .header {
        .two {
            transition: all 0.3s ease-out;
            position: fixed;
            background: #262626;
            top: 81px;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 20;
            transform: translateX(100%);
        }
        .one {
            img {
                max-height: 60px;
                width:auto;
            }
        }
        .three {
            position: relative;
            margin-right: 20px;
        }
        .wrapper {
            padding: 10px 20px;
        }
        &-menu {
            flex-direction: column;
        }
    }
    .container {
        justify-content: space-between;
    }
    .menu {
        &-link {
            color:white;
            font-size: 14px;
        }
        &-item {
            margin: 0 !important;
            &:nth-child(1) {
                padding-top:35px;
                &:after {
                    top: 37px !important;
                }
                .menu-link {
                    &:after {
                        top: 52px !important;
                    }
                }
            }
            &:last-child {
                padding-bottom:35px;
            }
            &:not(.parent) {
                position: relative;
                .menu-link {
                    flex: 0 0 100%;
                    &:after {
                        font-family: "icomoon";
                        content: "\e908";
                        color:white;
                        position: absolute;
                        right: 45px;
                        top: 17px;
                        font-size: 20px;
                    }
                }
            }
            &.parent {
                .menu-link {
                    flex: 0 0 50%;
                }
                .menu-item-chevron {
                    position: relative;
                    height: 24px;
                    width: 24px;
                    flex: 0 0 50%;
                    &:after {
                        content: "";
                        height:3px;
                        width:13px;
                        background:white;
                        position: absolute;
                        right: 13px;
                        top: 10px;
                    }
                    &:before {
                        transition: all 0.3s ease-out;
                        max-height: 13px;
                        content: "";
                        height:13px;
                        width:3px;
                        background:white;
                        position: absolute;
                        right: 18px;
                        top: 5px;
                    }
                }
            }
            &.open {
                .menu-item-chevron {
                    &:before {
                        max-height: 0;
                        top: 10px;
                    }
                }
            }
            &-inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}

.burger {
    height: 3rem;
    width: 30px;
    span {
        background-color: #000000;
        display: block;
        height: 3px;
        transform-origin: center;
        transition-duration: 86ms;
        transition-property: background-color,opacity,transform;
        transition-timing-function: ease-out;
        position: absolute;
        width: 30px;
        &:nth-child(1) {
            top: calc(50% - 9px);
        }
        &:nth-child(2) {
            top: calc(50% - 0px);
        }
        &:nth-child(3) {
            top: calc(50% + 9px);
        }
    }
}

.menu-open {
    .burger span {
        &:nth-child(1) {
            transform: translateY(9px) rotate(45deg);
        }
        &:nth-child(2) {
            opacity:0;
        }
        &:nth-child(3) {
            transform: translateY(-9px) rotate(-45deg);
        }
    }
    .header .two {
        transform: translateX(0%);
    }
    body {
        overflow: hidden;
        max-height: 100vh;
    }
}

@include screen(0,1023) {
    .menu-open .header-menu {
        overflow: scroll;
    }

    .header-menu {
        height: calc(100vh - 81px);
        background:white;
    }

    .megamenu,
    .submenu {
        padding: 0px 0px 0px 60px;
        background:#6d6c6b;
        transition:max-height 0.4s ease-in-out;
        max-height: 500px;
        overflow: hidden;
    }
    .submenu-title,
    .megamenu-title {
        display:none;
    }
    .submenu-inner,
    .megamenu-inner {
        margin-top: 18px;
        margin-bottom: 40px;
        margin-right: 40px;
    }
    .menu-item {
        background:#262626;
        &-inner {
            line-height: 24px;
            padding: 17.5px 35px;
        }
        &.parent {
            &:not(.open) {
                .megamenu,
                .submenu {
                    max-height: 0;
                }
            }
        }
    }
    .menu-subitem {
        border-bottom: 1px solid rgba(242, 239, 234, 1);
        padding-top: 15px;
        padding-bottom: 12px;
    }
    .menu-sublink {
        color:rgba(242, 239, 234, 1);
        font-size: 14px;
    }
}

.floating-cta {
    cursor:pointer;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 5;
    .wrapper {
        background: #C81927;
        padding: 12.5px;
        border-radius: 150px;
        display: flex;
//        gap: 10px;
        align-items: center;
    }
    .inner {
        position:relative;
        width:40px;
        height:40px;
        &:before {
            font-family: 'icomoon';
            content: "\e90f";
            color: white;
            font-size: 30px;
            position: absolute;
            top: 6px;
        }
    }
    .top {
        color:#F2EFEA;
        font-size: 22px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .bot {
        color:#F2EFEA;
        font-size: 14px;
        white-space: nowrap;

    }
    .content {
        overflow: hidden;
        transition:all 0.5s ease-out;
        color:white;
        max-width: 390px;
        max-height:100px;
        opacity:1;
        padding: 0 10px;
    }
    &:not(.active) {
        .wrapper {
//            gap:0;
        }
        .content {
            max-width: 0;
            max-height: 0;
            opacity:0;
            padding: 0px;
        }
    }
}

.desktop-cta {
    cursor:pointer;
    position: fixed;
    right: 0;
    bottom: 40%;
    z-index: 5;
    max-height: 356px;
    .wrapper {
        background: #C81927;
        display: flex;
        align-items: center;
    }
    .inner {
        position:relative;
        width:40px;
        height:40px;
        &:before {
            font-family: 'icomoon';
            content: "\e90f";
            color: white;
            font-size: 30px;
            position: absolute;
            top: 6px;
        }
    }
    .top {
        color:#F2EFEA;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    .mid {
        color:#F2EFEA;
        font-size: 20px;
        line-height: 30px;
    }
    .bot {
        position:absolute;
        bottom: 25px;
        .arrow {
            position:relative;
            &:before {
                font-family: "icomoon";
                content: "\e908";
            }
        }
    }
    .content {
        overflow: hidden;
        transition:all 0.5s ease-out;
        color:white;
        max-width: 155px;
        padding: 50px;
    }
    .image {
        transition: all 0.3s ease-out;
        max-width: 190px;
        img {
            display:block;
            max-height: 356px;
        }
    }
    &:not(:hover) {
        .image {
            max-width: 0px;
        }
        .content {
            padding: 35px;
        }
    }
}