.header .wrapper {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background: white;
}
.header .container {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
}
.header .shop-cta {
  padding: 22px 35px;
  background: rgb(242, 239, 234);
}
.header .shop-cta a {
  font-size: 16px;
  line-height: 24px;
}
.header .shop-cta a:before {
  font-family: "icomoon";
  content: "\e90f";
  color: #c81927;
  font-size: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

@media only screen and (min-width: 1024px) {
  .shop-cta {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .shop-cta {
    display: block;
    position: absolute;
    right: 0;
    top: 18px;
    background: #fff !important;
  }
}
@media only screen and (min-width: 1536px) {
  .shop-cta {
    right: 100px;
  }
}
@media only screen and (min-width: 1700px) {
  .shop-cta {
    right: 150px;
  }
}
@media only screen and (min-width: 1920px) {
  .shop-cta {
    right: 185px;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: white;
    z-index: 25;
  }
  .header .one {
    margin-right: 10vw;
  }
  .megamenu-inner {
    width: 50%;
    margin: auto;
  }
}
@media only screen and (min-width: 1366px) {
  .header .one {
    margin-right: 15.5vw;
  }
  .megamenu-inner {
    width: 40%;
    margin: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-link {
    font-size: 18px;
    line-height: 24px;
  }
  .menu-subitem:before {
    transition: all 0.3s ease-out;
    content: "\e908";
    font-family: "icomoon";
    color: white;
    margin-right: 15px;
    font-size: 25px;
    vertical-align: sub;
  }
  .menu-subitem:hover {
    color: #C81927;
  }
  .menu-subitem:hover:before {
    color: #C81927;
  }
  .menu-subitem:hover .menu-sublink {
    color: #C81927;
  }
  .menu-subitem + .menu-subitem {
    margin-top: 15px;
  }
  .menu-sublink {
    transition: all 0.3s ease-out;
    font-size: 18px;
    line-height: 24px;
    color: #F2EFEA;
  }
  .menu-item + .menu-item {
    margin-left: 55px;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-link {
    padding-right: 30px;
  }
  .menu-item:hover .megamenu {
    transform: translateY(0%);
  }
  .menu-item:hover .submenu {
    transform: translateY(0%);
  }
  .menu-item:hover .menu-link:after {
    transform: rotate(180deg);
  }
  .menu-item.parent .menu-link:after {
    transition: all 0.3s ease-out;
    font-family: "icomoon";
    content: "\e907";
    font-size: 20px;
    vertical-align: middle;
    margin-left: 5px;
    position: absolute;
  }
  .menu-item.parent:not(.mega) {
    position: relative;
  }
}
@media only screen and (min-width: 1024px) {
  .menu-hover .menu-item {
    padding: 41px 0;
  }
  .menu-hover .menu-item:not(.mega) .submenu {
    top: 106px;
  }
}
@media only screen and (min-width: 1024px) {
  .megamenu {
    transition: all 0.5s ease-out;
    background: #262626;
    position: absolute;
    top: 106px;
    left: 0;
    right: 0;
    z-index: 20;
    overflow: hidden;
    transform: translateY(-100%);
    z-index: -1;
  }
  .megamenu-inner {
    margin: auto;
  }
  .megamenu-title {
    font-size: 22px;
    line-height: 28px;
    color: #F2EFEA;
    font-weight: 700;
    margin: 35px 0;
  }
  .megamenu-menus {
    display: flex;
    margin-bottom: 50px;
  }
  .megamenu-menus ul:nth-child(2) {
    margin-left: 139px;
  }
}
@media only screen and (min-width: 1024px) {
  .submenu {
    transition: transform 0.5s ease-out;
    background: #262626;
    position: absolute;
    top: 65px;
    left: -20px;
    right: -200px;
    z-index: 19;
    overflow: hidden;
    transform: translateY(-100%);
    z-index: -1;
  }
  .submenu-inner {
    margin: 0 20px;
  }
  .submenu-title {
    font-size: 22px;
    line-height: 28px;
    color: #F2EFEA;
    font-weight: 700;
    margin: 35px 0;
  }
  .submenu-menus {
    display: flex;
    margin-bottom: 50px;
  }
  .submenu-menus ul:nth-child(2) {
    margin-left: 139px;
  }
}
@media only screen and (min-width: 1024px) {
  .header .three {
    display: none;
  }
}
@media only screen and (max-width: 1023px) {
  .header .two {
    transition: all 0.3s ease-out;
    position: fixed;
    background: #262626;
    top: 81px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    transform: translateX(100%);
  }
  .header .one img {
    max-height: 60px;
    width: auto;
  }
  .header .three {
    position: relative;
    margin-right: 20px;
  }
  .header .wrapper {
    padding: 10px 20px;
  }
  .header-menu {
    flex-direction: column;
  }
  .container {
    justify-content: space-between;
  }
  .menu-link {
    color: white;
    font-size: 14px;
  }
  .menu-item {
    margin: 0 !important;
  }
  .menu-item:nth-child(1) {
    padding-top: 35px;
  }
  .menu-item:nth-child(1):after {
    top: 37px !important;
  }
  .menu-item:nth-child(1) .menu-link:after {
    top: 52px !important;
  }
  .menu-item:last-child {
    padding-bottom: 35px;
  }
  .menu-item:not(.parent) {
    position: relative;
  }
  .menu-item:not(.parent) .menu-link {
    flex: 0 0 100%;
  }
  .menu-item:not(.parent) .menu-link:after {
    font-family: "icomoon";
    content: "\e908";
    color: white;
    position: absolute;
    right: 45px;
    top: 17px;
    font-size: 20px;
  }
  .menu-item.parent .menu-link {
    flex: 0 0 50%;
  }
  .menu-item.parent .menu-item-chevron {
    position: relative;
    height: 24px;
    width: 24px;
    flex: 0 0 50%;
  }
  .menu-item.parent .menu-item-chevron:after {
    content: "";
    height: 3px;
    width: 13px;
    background: white;
    position: absolute;
    right: 13px;
    top: 10px;
  }
  .menu-item.parent .menu-item-chevron:before {
    transition: all 0.3s ease-out;
    max-height: 13px;
    content: "";
    height: 13px;
    width: 3px;
    background: white;
    position: absolute;
    right: 18px;
    top: 5px;
  }
  .menu-item.open .menu-item-chevron:before {
    max-height: 0;
    top: 10px;
  }
  .menu-item-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.burger {
  height: 3rem;
  width: 30px;
}
.burger span {
  background-color: #000000;
  display: block;
  height: 3px;
  transform-origin: center;
  transition-duration: 86ms;
  transition-property: background-color, opacity, transform;
  transition-timing-function: ease-out;
  position: absolute;
  width: 30px;
}
.burger span:nth-child(1) {
  top: calc(50% - 9px);
}
.burger span:nth-child(2) {
  top: calc(50% - 0px);
}
.burger span:nth-child(3) {
  top: calc(50% + 9px);
}

.menu-open .burger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.menu-open .burger span:nth-child(2) {
  opacity: 0;
}
.menu-open .burger span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}
.menu-open .header .two {
  transform: translateX(0%);
}
.menu-open body {
  overflow: hidden;
  max-height: 100vh;
}

@media only screen and (max-width: 1023px) {
  .menu-open .header-menu {
    overflow: scroll;
  }
  .header-menu {
    height: calc(100vh - 81px);
    background: white;
  }
  .megamenu,
  .submenu {
    padding: 0px 0px 0px 60px;
    background: #6d6c6b;
    transition: max-height 0.4s ease-in-out;
    max-height: 500px;
    overflow: hidden;
  }
  .submenu-title,
  .megamenu-title {
    display: none;
  }
  .submenu-inner,
  .megamenu-inner {
    margin-top: 18px;
    margin-bottom: 40px;
    margin-right: 40px;
  }
  .menu-item {
    background: #262626;
  }
  .menu-item-inner {
    line-height: 24px;
    padding: 17.5px 35px;
  }
  .menu-item.parent:not(.open) .megamenu,
  .menu-item.parent:not(.open) .submenu {
    max-height: 0;
  }
  .menu-subitem {
    border-bottom: 1px solid rgb(242, 239, 234);
    padding-top: 15px;
    padding-bottom: 12px;
  }
  .menu-sublink {
    color: rgb(242, 239, 234);
    font-size: 14px;
  }
}
.floating-cta {
  cursor: pointer;
  position: fixed;
  right: 25px;
  bottom: 25px;
  z-index: 5;
}
.floating-cta .wrapper {
  background: #C81927;
  padding: 12.5px;
  border-radius: 150px;
  display: flex;
  align-items: center;
}
.floating-cta .inner {
  position: relative;
  width: 40px;
  height: 40px;
}
.floating-cta .inner:before {
  font-family: "icomoon";
  content: "\e90f";
  color: white;
  font-size: 30px;
  position: absolute;
  top: 6px;
}
.floating-cta .top {
  color: #F2EFEA;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
}
.floating-cta .bot {
  color: #F2EFEA;
  font-size: 14px;
  white-space: nowrap;
}
.floating-cta .content {
  overflow: hidden;
  transition: all 0.5s ease-out;
  color: white;
  max-width: 390px;
  max-height: 100px;
  opacity: 1;
  padding: 0 10px;
}
.floating-cta:not(.active) .content {
  max-width: 0;
  max-height: 0;
  opacity: 0;
  padding: 0px;
}

.desktop-cta {
  cursor: pointer;
  position: fixed;
  right: 0;
  bottom: 40%;
  z-index: 5;
  max-height: 356px;
}
.desktop-cta .wrapper {
  background: #C81927;
  display: flex;
  align-items: center;
}
.desktop-cta .inner {
  position: relative;
  width: 40px;
  height: 40px;
}
.desktop-cta .inner:before {
  font-family: "icomoon";
  content: "\e90f";
  color: white;
  font-size: 30px;
  position: absolute;
  top: 6px;
}
.desktop-cta .top {
  color: #F2EFEA;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 5px;
}
.desktop-cta .mid {
  color: #F2EFEA;
  font-size: 20px;
  line-height: 30px;
}
.desktop-cta .bot {
  position: absolute;
  bottom: 25px;
}
.desktop-cta .bot .arrow {
  position: relative;
}
.desktop-cta .bot .arrow:before {
  font-family: "icomoon";
  content: "\e908";
}
.desktop-cta .content {
  overflow: hidden;
  transition: all 0.5s ease-out;
  color: white;
  max-width: 155px;
  padding: 50px;
}
.desktop-cta .image {
  transition: all 0.3s ease-out;
  max-width: 190px;
}
.desktop-cta .image img {
  display: block;
  max-height: 356px;
}
.desktop-cta:not(:hover) .image {
  max-width: 0px;
}
.desktop-cta:not(:hover) .content {
  padding: 35px;
}

/*# sourceMappingURL=style.css.map */
