{% extends "block-base.twig" %}

{% block content %}
<header class="header {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="container">
            <div class="one">
                <a href="/">
                    <img width="121" height="104" src="https://aonndpeydo.cloudimg.io/v7/{{ fn('get_stylesheet_directory_uri') }}/blocks/theme-footer/tec-logo.png" alt="tec logo">
                </a>
            </div>
            <div class="two">
                <ul class="header-menu">
                {% for item in header_primary_menu.get_items %}
                {% set mega_menu = fn('get_field', 'mega_menu', item) %}
                    <li class="menu-item {% if item.children %}parent{% endif %} {% if mega_menu %}mega{% endif %}">
                        <div class="menu-item-inner">
                            <a class="menu-link" href="{{item.link}}">{{item.title}}</a>
                            <div class="menu-item-chevron" onclick="toggleSubmenu(this);"></div>
                        </div>
                        {% if item.children %}
                            {% if mega_menu %}
                            <div class="megamenu">
                                <div class="megamenu-inner">
                                    <div class="megamenu-title">{{item.title}}</div>
                                    <div class="megamenu-menus">
                                        {% for subitem in item.children %}
                                        <ul>
                                        {% for child in subitem.children %}
                                            <li class="menu-subitem">
                                                <a class="menu-sublink" href="{{child.link}}">{{child.title}}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="submenu">
                                <div class="submenu-inner">
                                    <div class="submenu-title">{{item.title}}</div>
                                    <div class="submenu-menus">
                                        <ul>
                                        {% for child in item.children %}
                                            <li class="menu-subitem">
                                                <a class="menu-sublink" href="{{child.link}}">{{child.title}}</a>
                                            </li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endfor %}
                    <li class="shop-cta">
                        <a href="https://www.tecindustrial.ie/" class="shop-cta-inner">Shop</a>
                    </li>
                </ul>
            </div>
            <div class="three">
                <div class="burger" onclick="document.getElementsByTagName('HTML')[0].classList.toggle('menu-open');">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="floating-cta hide-desktop" onclick="toggleCTAm(this);">
    <div class="wrapper">
        <div class="image"><div class="inner"></div></div>
        <a class="content" href="https://www.tecindustrial.ie/" target="_blank">
            <div class="top">Shop</div>
            <div class="bot">Industrial Hose & Hydraulic Products</div>
        </a>
    </div>
</div>

<a class="desktop-cta hide-mobile" href="https://www.tecindustrial.ie/" target="_blank">
    <div class="wrapper">
        <div class="content">
            <div class="top">Shop</div>
            <div class="mid">Industrial Hose & Hydraulic Products</div>
            <div class="bot">
                <svg xmlns="http://www.w3.org/2000/svg" width="67.194" height="34.501" viewBox="0 0 67.194 34.501">
                    <g id="Icon_feather-arrow-right" data-name="Icon feather-arrow-right" transform="translate(105.717 -5.379)">
                        <path id="Path_1" data-name="Path 1" d="M7.5,18H71.694" transform="translate(-111.717 4.629)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                        <path id="Path_2" data-name="Path 2" d="M18,7.5,33.129,22.629,18,37.759" transform="translate(-73.152 0)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="image"><img src="/wp-content/themes/tec/blocks/theme-header/bg.png"></div>
    </div>
</a>
<script>
    document.querySelectorAll('.menu-item.parent').forEach(function(e) {
        e.addEventListener('mouseover', function(event) {
            document.querySelector('body').classList.add('menu-hover');
        });
        e.addEventListener('mouseout', function(event) {
            document.querySelector('body').classList.remove('menu-hover');
        })
    });
    function toggleSubmenu(e) {
        if(e.parentNode.parentNode.classList.contains('open')) {
            e.parentNode.parentNode.classList.remove('open');
        } else {
        document.querySelectorAll('.menu-item.parent.open').forEach(function(el) {
            el.classList.remove('open');
        });
            e.parentNode.parentNode.classList.add('open');
        }
    }

    function toggleCTAm(e) {
        e.classList.toggle('active');
    }
</script>
{% endblock %}
