@import "mixins.scss";

.flex-full {
    padding: 25px;
    .wrapper {

    }
    .flex {
        margin-bottom: 25px;
    }
    .wp-block-image {
        margin-bottom:30px;
    }
    .wp-block-buttons {
        margin-top:30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    ul {
        li {
            padding: 16px;
            color:#222B45;
            padding-left: 60px;
            font-size: 22px;
            line-height: 30px;
            border-bottom: 1px solid #707070;
            position:relative;
            &:before {
                transition:all 0.3s ease-out;
                content: "\e907";
                font-family: "icomoon";
                color: #C81927;
                position: absolute;
                font-size: 35px;
                left: 28px;
                top: 50%;
                transform: translate(-50%,-50%) rotate(270deg);
            }
            &:after {
                transition:all 0.3s ease-out;
                content:"";
                background: #C81927;
                position: absolute;
                height:3px;
                width:23px;
                left: 7px;
                top: 48%;
            }
            &:hover {
                color:#C81927;
                &:before {
                    left: 33px;
                }
                &:after {
                    content:"";
                    width: 30px;
                }
            }
        }
    }
    h5 {
        color:#1F7A8C;
    }
}

@include screen(1024) {
    .image-text {
        padding: 80px 0;
        .wrapper {
            flex-direction: row;
        }
        .wp-block-image {
            margin-bottom:60px;
        }
        .wp-block-buttons {
            margin-top:40px;
        }
        .flex {
            margin-bottom: 0px;
        }
        ul {
            max-width: 450px;
        }
    }
}