.flex-full {
  padding: 25px;
}
.flex-full .flex {
  margin-bottom: 25px;
}
.flex-full .wp-block-image {
  margin-bottom: 30px;
}
.flex-full .wp-block-buttons {
  margin-top: 30px;
}
.flex-full img {
  max-width: 100%;
  height: auto;
}
.flex-full ul li {
  padding: 16px;
  color: #222B45;
  padding-left: 60px;
  font-size: 22px;
  line-height: 30px;
  border-bottom: 1px solid #707070;
  position: relative;
}
.flex-full ul li:before {
  transition: all 0.3s ease-out;
  content: "\e907";
  font-family: "icomoon";
  color: #C81927;
  position: absolute;
  font-size: 35px;
  left: 28px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}
.flex-full ul li:after {
  transition: all 0.3s ease-out;
  content: "";
  background: #C81927;
  position: absolute;
  height: 3px;
  width: 23px;
  left: 7px;
  top: 48%;
}
.flex-full ul li:hover {
  color: #C81927;
}
.flex-full ul li:hover:before {
  left: 33px;
}
.flex-full ul li:hover:after {
  content: "";
  width: 30px;
}
.flex-full h5 {
  color: #1F7A8C;
}

@media only screen and (min-width: 1024px) {
  .image-text {
    padding: 80px 0;
  }
  .image-text .wrapper {
    flex-direction: row;
  }
  .image-text .wp-block-image {
    margin-bottom: 60px;
  }
  .image-text .wp-block-buttons {
    margin-top: 40px;
  }
  .image-text .flex {
    margin-bottom: 0px;
  }
  .image-text ul {
    max-width: 450px;
  }
}

/*# sourceMappingURL=style.css.map */
