.image-map img {
  width: 100%;
  height: auto;
  max-height: 450px;
  display: block;
  object-fit: cover;
}
.image-map .one {
  position: relative;
}
.image-map .directions {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (min-width: 1024px) {
  .image-map .wrapper {
    display: flex;
    justify-content: space-between;
  }
  .image-map .one,
  .image-map .two {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
