@import "mixins.scss";

.image-map {
    img {
        width: 100%;
        height:auto;
        max-height: 450px;
        display:block;
        object-fit: cover;
    }
    .one {
        position: relative;
    }
    .directions {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@include screen(1024) {
    .image-map {
        .wrapper {
            display:flex;
            justify-content: space-between;
        }
        .one,
        .two {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}