{% extends "block-base.twig" %}

{% block content %}
<section class="image-map {{block.className}}" {{blockSection(block)}}>
    <div class="wrapper">
        <div class="one">
            {{imageElement(fields.content.image_one)}}
            <div class="directions">
                <div class="wp-block-button">
                    <a class="wp-block-button__link wp-element-button red" href="{{fields.content.directions.url}}" target="{{fields.content.directions.target}}">{{fields.content.directions.title}}</a>
                </div>
            </div>
        </div>
        <div class="two">
            {{imageElement(fields.content.image_two)}}
        </div>
    </div>
</section>
{% endblock %}
