@import "mixins.scss";

.case-study-feed-one{
    margin-top: 25px;
    .color-boxes {
        margin: 0px 17px 0px 17px;
        padding-bottom: 50px;
    }
    .container {
        max-width: 1136px;
    }
    .bottom {
        text-align: center;
        margin-bottom: 60px;
    }
}

.color-boxes {
    .arrow {
        position:relative;
        height:19px;
        width:23px;
        margin-right: 30px;
        &:before {
            position: absolute;
            content: "\e908";
            font-family: "icomoon";
            color:white;
            font-size: 35px;
        }
    }
    .box {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.16);
        min-height: 239px;
        display: flex;
        align-items: end;
        position: relative;
        &:before {
            content: "\e90e";
            position: absolute;
            font-family: "icomoon";
            color: #FFFFFF;
            font-size: 100px;
            transform: rotate(270deg);
            right: 18px;
            top: 30px;
            opacity: 0.4;
        }
        &:nth-child(1) {
            background:#C81927;
        }
        &:nth-child(2) {
            background:#262626;
        }
        &:nth-child(3) {
            background:#1F7A8C;
        }
        &-title {
            display: flex;
            justify-content: space-between;
        }
        & + .box {
            margin-top:15px;
        }
    }
    .inner {
        display: block;
        padding: 0px 15px 0px 30px;
        width: 100%;
    }
    .title {
        font-size: 22px;
        line-height: 28px;
        color:white;
        font-weight: 700;
    }
    p {
        font-size: 14px;
        line-height: 22px;
        color: #FFFFFF;
        margin-bottom: 15px;
        margin-top: 8px;
        max-width: 85%;
    }
}

@include screen(1024) {
    .color-boxes {
        display:flex;
        justify-content: space-between;
        .box {
            flex: 0 0 32.7%;
            & + .box {
                margin-top:0;
            }
        }
        .arrow {
            margin-right: 50px;
        }
    }
}

@include screen(1024) {
    .case-study-feed-one {
        .color-boxes {
            margin: 0px 0px 0px 0px;
        }
    }
}