{% extends "block-base.twig" %}

{% block content %}
<section class="case-study-feed-one {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="color-boxes fade-up">
                {% for box in fields.content.items %}
                    <li class="box">
                        <a class="inner" href="{{box.link.url}}">
                            <div class="box-title">
                                <div class="title">{{box.link.title}}</div>
                                <div class="arrow"></div>
                            </div>
                            <p>{{box.text}}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="bottom">
        <div class="is-layout-flex wp-block-buttons">
            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="#">Case Studies</a></div>
        </div>
        </div>
    </div>
</section>
{% endblock %}

