{% extends "block-base.twig" %}

{% block content %}
<section class="case-study-feed-one {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <ul class="color-boxes fade-up">
                    {% for box in related %}
                        <a class="box" href="{{box.link}}">
                            <div class="inner">
                                <div class="box-title">
                                    <div class="title">{{box.title}}</div>
                                    <div class="arrow"></div>
                                </div>
                                <p>{{fn('get_the_terms', box.id, 'Industry')[0].name}}</p>
                            </div>
                        </a>
                    {% endfor %}
            </ul>
        </div>
        <div class="bottom">
        <div class="is-layout-flex wp-block-buttons">
            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button" href="/case-studies">Case Studies</a></div>
        </div>
        </div>
    </div>
</section>
{% endblock %}