@import "mixins.scss";

.bio-cards {
    padding-bottom: 50px;
    h5 {
        font-size: 21px;
    }
    .cards {
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .card {
        margin: 15px;
        img {
            max-width: 255px;
            height:auto;
        }
        &-footer {
            text-align: center;
            margin-top: 20px;
        }
        .position {
            margin-bottom: 5px;
        }
        border {
            &:before {
                font-family: "icomoon";
                content: "\e90d";
                font-size: 150px;
                position: absolute;
            }
        }
        &:nth-child(1) {
            border {
                &:before {
                    color: #c81927;
                    top: -9px;
                    left: -7px;
                }
            }
        }
        &:nth-child(2) {
            border {
                &:before {
                    color: #1F7A8C;
                    bottom: -3px;
                    left: -10px;
                    transform: rotate(270deg);
                }
            }
        }
        &:nth-child(3) {
            border {
                &:before {
                    color: #262626;
                    top: -5px;
                    right: -12px;
                    transform: rotate(90deg);
                }
            }
        }
        &:nth-child(4) {
            border {
                &:before {
                    color: #c81927;
                    bottom: -6px;
                    right: -7px;
                    transform: rotate(180deg);
                }
            }
        }
        &:nth-child(5) {
            border {
                &:before {
                    color: #262626;
                    top: -9px;
                    left: -7px;
                }
            }
        }
        &:nth-child(6) {
            border {
                &:before {
                    color: #1F7A8C;
                    bottom: -3px;
                    left: -10px;
                    transform: rotate(270deg);
                }
            }
        }
        &:nth-child(7) {
            border {
                &:before {
                    color: #C81927;
                    top: -5px;
                    right: -12px;
                    transform: rotate(90deg);
                }
            }
        }
        &:nth-child(8) {
            border {
                &:before {
                    color: #1F7A8C;
                    bottom: -6px;
                    right: -7px;
                    transform: rotate(180deg);
                }
            }
        }
    }
    border {
        display: block;
        position: relative;
    }
}