.bio-cards {
  padding-bottom: 50px;
}
.bio-cards h5 {
  font-size: 21px;
}
.bio-cards .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bio-cards .card {
  margin: 15px;
}
.bio-cards .card img {
  max-width: 255px;
  height: auto;
}
.bio-cards .card-footer {
  text-align: center;
  margin-top: 20px;
}
.bio-cards .card .position {
  margin-bottom: 5px;
}
.bio-cards .card border:before {
  font-family: "icomoon";
  content: "\e90d";
  font-size: 150px;
  position: absolute;
}
.bio-cards .card:nth-child(1) border:before {
  color: #c81927;
  top: -9px;
  left: -7px;
}
.bio-cards .card:nth-child(2) border:before {
  color: #1F7A8C;
  bottom: -3px;
  left: -10px;
  transform: rotate(270deg);
}
.bio-cards .card:nth-child(3) border:before {
  color: #262626;
  top: -5px;
  right: -12px;
  transform: rotate(90deg);
}
.bio-cards .card:nth-child(4) border:before {
  color: #c81927;
  bottom: -6px;
  right: -7px;
  transform: rotate(180deg);
}
.bio-cards .card:nth-child(5) border:before {
  color: #262626;
  top: -9px;
  left: -7px;
}
.bio-cards .card:nth-child(6) border:before {
  color: #1F7A8C;
  bottom: -3px;
  left: -10px;
  transform: rotate(270deg);
}
.bio-cards .card:nth-child(7) border:before {
  color: #C81927;
  top: -5px;
  right: -12px;
  transform: rotate(90deg);
}
.bio-cards .card:nth-child(8) border:before {
  color: #1F7A8C;
  bottom: -6px;
  right: -7px;
  transform: rotate(180deg);
}
.bio-cards border {
  display: block;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
