{% extends "block-base.twig" %}

{% block content %}
<section class="bio-cards {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="cards fade-up">
                {% for item in fields.content.items %}
                    <div class="card">
                        <border>{{imageElement(item.image)}}</border>
                        <div class="card-footer">
                            <div class="name"><h5>{{item.name}}</h5></div>
                            <div class="name">{{item.position}}</div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
