.careers-index {
  margin-bottom: 50px;
  padding: 0 25px;
}
@media only screen and (min-width: 1024px) {
  .careers-index {
    padding: 0;
    margin-bottom: 100px;
  }
}
.careers-index .department-head {
  color: #1F7A8C;
  font-size: 22px;
  line-height: 28px;
  margin: 28px 0 23px 0;
}
.careers-index .department:nth-child(1) .department-head {
  margin-top: 0;
  margin-bottom: 15px;
}
.careers-index .flex-wrapper {
  overflow: hidden;
  position: relative;
  background: #F2EFEA;
  box-shadow: 0px -8px 72px rgba(111, 109, 113, 0.08);
  padding: 10vh 100px 10vh 25px;
  margin: 25px 0;
}
@media only screen and (min-width: 1024px) {
  .careers-index .flex-wrapper {
    margin: 0;
    padding: 14vh 6vw 11vh 2.5vw;
  }
}
.careers-index .flex-wrapper p {
  font-size: 14px;
}
@media only screen and (min-width: 1024px) {
  .careers-index .flex-wrapper p {
    font-size: 1.125rem;
  }
}
.careers-index .flex-wrapper p:nth-child(1) {
  margin-top: 0;
}
.careers-index .flex-wrapper .shape {
  position: absolute;
  right: -55px;
  top: 0;
  transform: rotate(189deg);
}
.careers-index .top {
  padding: 1px 0;
}
.careers-index .top .title {
  margin: 27px 0;
}
.careers-index .bottom {
  margin-top: 35px;
}
.careers-index .inner .title {
  color: #262626;
  font-weight: 700;
  font-size: 20px;
  flex: 0 0 90%;
  max-width: 560px;
}
.careers-index .inner .location {
  font-size: 14px;
  line-height: 22px;
}
.careers-index .inner .arrow:before {
  font-family: "icomoon";
  content: "\e908";
  color: rgb(200, 25, 39);
  font-size: 30px;
}
.careers-index .job {
  border-bottom: 1px solid #262626;
}
.careers-index .job + .job {
  margin-top: 20px;
}
.careers-index .job-title {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  .careers-index .bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
  }
  .careers-index .departments-wrapper {
    flex: 0 0 630px;
  }
  .careers-index .flex-wrapper {
    flex: 0 0 400px;
  }
}
.filter {
  width: 270px;
  height: 48px;
  background: #F2EFEA;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.filter-title {
  font-size: 14px;
  padding: 22px;
}
.filter-body {
  transition: all 0.3s ease-out;
  overflow: hidden;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  max-height: 0;
}
.filter-option {
  cursor: pointer;
}
.filter-option + .filter-option {
  margin-top: 15px;
}
.filter-options {
  background: white;
  border: 3px solid #F2EFEA;
  padding: 15px 20px;
}
.filter-chevron {
  width: 40px;
}
.filter-chevron:before {
  transition: all 0.3s ease-out;
  position: absolute;
  font-family: "icomoon";
  content: "\e907";
  font-size: 20px;
  top: 13px;
}
.filter:hover .filter-body {
  max-height: 150px;
}
.filter:hover .filter-chevron:before {
  transform: rotate(180deg);
}
.filter label,
.filter input {
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
