@import "mixins.scss";

.careers-index {
    margin-bottom: 50px;
    padding: 0 25px;
    @include screen(1024) {
        padding: 0;
        margin-bottom: 100px;
    }
    .department {
        &-head {
            color:#1F7A8C;
            font-size: 22px;
            line-height: 28px;
            margin: 28px 0 23px 0;
        }
        &:nth-child(1) {
            .department-head {
                margin-top:0;
                margin-bottom: 15px;
            }
        }
    }
    .departments {
        &-wrapper {
            
        }
    }
    .flex-wrapper {
        overflow:hidden;
        position:relative;
        background: #F2EFEA;
        box-shadow: 0px -8px 72px rgba(111, 109, 113, 0.08);
        padding: 10vh 100px 10vh 25px;
        margin: 25px 0;
        @include screen(1024) {
            margin:0;
            padding: 14vh 6vw 11vh 2.5vw;
        }
        p {
            font-size: 14px;
            @include screen(1024) {
                font-size: 1.125rem;
            }
            &:nth-child(1) {
                margin-top:0;
            }
        }
        .shape {
            position: absolute;
            right: -55px;
            top: 0;
            transform: rotate(189deg);
        }
    }
    .top {
        padding: 1px 0;
        .title {
            margin: 27px 0;
        }
    }
    .bottom {
        margin-top: 35px;
    }
    .inner {
        .title {
            color:#262626;
            font-weight: 700;
            font-size: 20px;
            flex: 0 0 90%;
            max-width: 560px;
        }
        .location {
            font-size: 14px;
            line-height: 22px;
        }
        .arrow {
            &:before {
                font-family: "icomoon";
                content: "\e908";
                color:rgba(200, 25, 39, 1);
                font-size: 30px;
            }
        }
    }
    .job {
        border-bottom: 1px solid #262626;
        & + .job {
            margin-top:20px;
        }
        &-title {
            display:flex;
            justify-content: space-between;
        }
    }
}
@include screen(1024) {
    .careers-index {
        .bottom {
            display:flex;
            justify-content: space-between;
            margin-top: 70px;
        }
        .departments-wrapper {
            flex:0 0 630px;
        }
        .flex-wrapper {
            flex:0 0 400px;
        }
    }
}

.filter {
    width: 270px;
    height:48px;
    background:#F2EFEA;
    position:relative;
    display:flex;
    align-items: center;
    cursor:pointer;
    &-head {
        display:flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    &-title {
        font-size: 14px;
        padding: 22px;
    }
    &-body {
        transition:all 0.3s ease-out;
        overflow:hidden;
        position: absolute;
        top: 45px;
        left: 0;
        right: 0;
        max-height: 0;
    }
    &-option {
        cursor:pointer;
        & + .filter-option {
            margin-top:15px;
        }
    }
    &-options {
        background: white;
        border: 3px solid #F2EFEA;
        padding: 15px 20px;
    }
    &-chevron {
        width: 40px;
        &:before {
            transition:all 0.3s ease-out;
            position: absolute;
            font-family: "icomoon";
            content: "\e907";
            font-size: 20px;
            top: 13px;
        }
    }
    &:hover{
        .filter-body {
            max-height:150px;
        }
        .filter-chevron {
            &:before {
                transform: rotate(180deg);
            }
        }
    }
    label,
    input {
        cursor:pointer;
    }
}