{% extends "block-base.twig" %}

{% block content %}
<section class="careers-index {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="top">
            <div class="title"><h2>Current Job Openings</h2></div>
            <div class="filter">
                <div class="filter-head">
                    <div class="filter-title">Departments</div>
                    <div class="filter-chevron"></div>
                </div>
                <div class="filter-body">
                    <ul class="filter-options">
                    {% for department in departments %}
                        <li class="filter-option">
                            <input name="{{department.slug}}" id="{{department.slug}}" type="checkbox" value="{{department.id}}" class="filter-input"></input>
                            <label for="{{department.slug}}"><small>{{department.name}}</small></label><br>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="departments-wrapper">
                <ul class="departments">
                    {% for department in departments %}
                    <li class="department">
                        <div class="department-head"><strong>{{department.name}}</strong></div>
                        <div class="department-body">
                            <ul class="jobs fade-up">
                                {% for job in getJobs(department) %}
                                {% set job_data = fn('get_field', 'data', job) %}
                                    <li class="job">
                                        <a class="inner" href="{{job.link}}">
                                            <div class="job-title">
                                                <div class="title">{{job.title}}</div>
                                                <div class="arrow"></div>
                                            </div>
                                            <div class="job-loc">
                                                <div class="location">{{job_data.location}}</div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="flex-wrapper">
                <InnerBlocks />
                <div class="shape">
                    <svg xmlns="http://www.w3.org/2000/svg" width="95" height="564.948" viewBox="0 0 95 564.948">
                        <rect id="Rectangle_83" data-name="Rectangle 83" width="95" height="564.948" fill="#c81927"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

function getActiveFilters() {
    let activeFilters = [];

    let allFilters = [];

    document.querySelectorAll( '.filter-input' ).forEach(function( e ) {
        allFilters.push( e.value );
        if ( e.checked ) { activeFilters.push(e.value); }
    });

    if( activeFilters.length < 1 ) {
        return allFilters;
    } else {
        return activeFilters;
    }
}

document.querySelectorAll( '.filter-input' ).forEach(function( e ) {
    e.addEventListener( 'change', ( event ) => {
        loadJobs( getActiveFilters() );
    });
});

function loadJobs(departments) {
    let url = "{{fn("admin_url", "admin-ajax.php")}}?action=get_jobs_ajax";
    
    let body = new FormData();

    body.append('departments', getActiveFilters());

    let headers = { method: "POST", credentials: 'same-origin', body: body };

    fetch(url, headers)
        .then(function (response) {
            return response.text();
        })
        .then(function (data) {
            document.querySelector('.departments-wrapper').innerHTML = data;
        })
        .catch(function (error) {
            console.error("Error:", error);
        });
}
</script>
{% endblock %}

