.product-showcase {
  background: #262626;
  margin-bottom: 25px;
}
.product-showcase .top {
  padding: 65px 35px;
}
.product-showcase h2 {
  color: white;
}
.product-showcase .products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 16px;
  padding-bottom: 30px;
}
.product-showcase .product {
  position: relative;
  max-width: calc(50% - 36px);
  width: calc(50% - 36px);
  background: var(--bg);
  height: 143px;
  margin-bottom: 14px;
  display: flex;
  align-items: end;
  padding: 16px;
}
.product-showcase .product:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent linear-gradient(0deg, #262626 0%, #8B8B8B 100%) 0% 0% no-repeat padding-box;
  opacity: 0.1;
}
.product-showcase .product:nth-child(odd) {
  margin-right: 4px;
}
.product-showcase .product:nth-child(even) {
  margin-left: 4px;
}
.product-showcase .label {
  font-weight: 700;
  color: white;
  position: relative;
  margin-bottom: 5px;
  pointer-events: none;
  max-width: 80%;
}
@media only screen and (min-width: 1024px) {
  .product-showcase .label {
    min-width: 216px;
    max-width: 216px;
  }
}
.product-showcase .label:before {
  transition: all 0.3s ease-out;
  position: absolute;
  content: "\e908";
  font-family: "icomoon";
  color: white;
  font-size: 25px;
  font-weight: 400;
  right: -35px;
  bottom: 0;
}
@media only screen and (min-width: 1024px) {
  .product-showcase .label:before {
    right: -50px;
  }
}
.product-showcase h5 {
  font-size: 18px;
}
.product-showcase .heading {
  margin-bottom: 30px;
}
.product-showcase .inner {
  width: 100%;
}
.product-showcase.no-top {
  margin-top: 75px;
}
.product-showcase.no-top .top {
  display: none;
}
.product-showcase.light {
  background: white;
}

@media only screen and (min-width: 1024px) {
  .product-showcase {
    margin-bottom: 50px;
    padding: 0px;
  }
  .product-showcase .product {
    flex: 0 0 270px;
    height: 270px;
    margin: 7.5px !important;
    padding: 30px;
  }
  .product-showcase .product:hover .label {
    transform: translateY(-5px);
  }
  .product-showcase .product:hover .label:before {
    opacity: 1;
  }
  .product-showcase .products {
    margin: 0 -7.5px;
    padding: 0;
    padding-bottom: 60px;
  }
  .product-showcase .top {
    display: flex;
    align-items: center;
  }
  .product-showcase .label {
    transition: all 0.3s ease-out;
    max-width: 80%;
  }
  .product-showcase .label:before {
    opacity: 0;
  }
  .product-showcase .heading {
    margin-bottom: 0px;
    max-width: 900px;
    margin-right: 40px;
  }
  .product-showcase h5 {
    font-size: 22px;
  }
  .product-showcase .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
