@import "mixins.scss";

.product-showcase {
    background: #262626;
    margin-bottom: 25px;
    .top {
        padding: 65px 35px;
    }
    h2 {
        color:white;
    }
    .products {
        display:flex;
        flex-wrap: wrap;
        padding: 0 16px;
        padding-bottom: 30px;
    }
    .product {
        position: relative;
        max-width: calc(50% - 36px);
        width: calc(50% - 36px);
        background: var(--bg);
        height: 143px;
        margin-bottom: 14px;
        display: flex;
        align-items: end;
        padding: 16px;
        &:before {
            content:"";
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            right:0;
            background: transparent linear-gradient(0deg, #262626 0%, #8B8B8B 100%) 0% 0% no-repeat padding-box;
            opacity: 0.10;
        }
        &:nth-child(odd) {
            margin-right: 4px;
        }
        &:nth-child(even) {
            margin-left: 4px;
        }
    }
    .label {
        font-weight:700;
        color:white;
        position: relative;
        margin-bottom: 5px;
        pointer-events: none;
        max-width: 80%;
        @include screen(1024) {
            min-width: 216px;
            max-width: 216px;
        }
        &:before {
            transition: all 0.3s ease-out;
            position: absolute;
            content: "\e908";
            font-family: "icomoon";
            color:white;
            font-size: 25px;
            font-weight: 400;
            right: -35px;
            bottom: 0;
            @include screen(1024) {
                right: -50px;
            }
        }
    }

    h5 {
        font-size: 18px;
    }
    .heading {
        margin-bottom: 30px;
    }
    .inner {
        width: 100%;
    }
    &.no-top {
        margin-top: 75px;
        .top {
            display:none;
        }
    }
    &.light {
        background: white;
    }
}

@include screen(1024) {
    .product-showcase {
        margin-bottom: 50px;
        padding:0px;
        .product {
            flex: 0 0 270px;
            height: 270px;
            margin: 7.5px !important;
            padding: 30px;
            &:hover {
                .label {
                    transform: translateY(-5px);
                    &:before {
                        opacity:1;
                    }
                }
            }
        }
        .products {
            margin: 0 -7.5px;
            padding: 0;
            padding-bottom: 60px;
        }
        .top {
            display: flex;
            align-items: center;
        }
        .label {
            transition: all 0.3s ease-out;
            max-width: 80%;
            &:before {
                opacity: 0;
            }
        }
        .heading {
            margin-bottom: 0px;
            max-width: 900px;
            margin-right: 40px;
        }
        h5 {
            font-size: 22px;
        }
        .inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}