{% extends "block-base.twig" %}

{% block content %}
<section class="product-showcase {{block.className}}" {{blockSection(block)}}>
    <div class="container-xl">
        <div class="wrapper">
            <div class="top">
                <div class="heading">{{fields.content.content}}</div>
                <div class="is-layout-flex wp-block-buttons">
                    {% if fields.content.link.title|length > 1 %}
                        <div class="wp-block-button"><a class="wp-block-button__link wp-element-button red" href="{{fields.content.link.url}}" target="{{fields.content.link.target}}">{{fields.content.link.title}}</a></div>
                    {% endif %}
                </div>
            </div>
            <div class="products fade-up">
                {% for item in fields.content.items %}
                    <a class="product" href="{{item.link.url}}" target="{{item.link.target}}" style="--bg:url('{{cdnThis(item.image.url)}}')">
                        <div class="inner">
                            <div class="label"><h5>{{item.link.title}}</h5></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
