@import "mixins.scss";
.top-bar {
    background:#CE1126 url('/wp-content/themes/system-label/blocks/top-bar/background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    .wrapper {
        padding: 16px 0;
    }
    a {
        color:white;
        font-size: 18px;
        line-height: 1;
        text-decoration: none;
        font-weight: 700;
    }
    ul {
        display:flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    li {
        margin:0 40px;
        margin-bottom: 10px;
        a {
            display: flex;
            align-items: center;
        }
        img {
            margin-right:17px;
        }
    }
}

@include screen(1024) {
    .top-bar {
        background-size: contain;
        .wrapper {
            padding: 32px 0;
        }
        ul {
            justify-content: flex-end;
        }
        a {
            font-size: 24px;
        }
        li {
            margin-bottom: 0px;
            img {
                margin-right:17px;
            }
        }
    }
}