html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 960px;
}
.container.is-style-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%;
}
.container-xl {
  margin: 0 auto;
  width: auto;
}

@media only screen and (min-width: 1024px) {
  .entry-content {
    padding-top: 106px;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1100px;
  }
}
@media only screen and (min-width: 1366px) {
  .container {
    max-width: 1280px;
  }
}
@media only screen and (min-width: 1536px) {
  .container {
    max-width: 1366px;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 960px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-xl {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1366px) {
  .container-xl {
    max-width: 1366px;
  }
}

*::selection {
  background: #1F7A8C;
  color: white;
}

*::-moz-selection {
  background: #1F7A8C;
  color: white;
}

@media only screen and (max-width: 1023px) {
  .hide-mobile {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

/* inter-regular - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff2") format("woff2"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.woff") format("woff"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.ttf") format("truetype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - latin */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff2") format("woff2"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.woff") format("woff"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.ttf") format("truetype"), url("/wp-content/themes/tec/assets/fonts/inter-v12-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
}
html {
  font-family: "Inter";
  color: #262626;
}

p {
  font-size: 1.125rem;
  line-height: 1.2;
  margin: 20px 0;
}

a {
  color: #262626;
  text-decoration: none;
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h1 {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: calc(1.35rem + 1.2vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h2 {
    font-size: 2.25rem;
  }
}
h3 {
  font-size: calc(1.325rem + 0.9vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h3 {
    font-size: 2rem;
  }
}
h4 {
  font-size: calc(1.3rem + 0.6vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h4 {
    font-size: 1.75rem;
  }
}
h5 {
  font-size: calc(1.2625rem + 0.15vw);
  font-weight: 700;
  line-height: 1.2;
}
@media (min-width: 1200px) {
  h5 {
    font-size: 1.375rem;
  }
}

big {
  font-size: 1.25rem;
  line-height: 1.2;
}

small {
  font-size: 0.875rem;
  line-height: 1.2;
}

strong {
  font-weight: 700;
}

.has-text-align-center {
  text-align: center;
}

.wp-block-button.red .wp-block-button__link {
  background: #C81927;
}
.wp-block-button.red .wp-block-button__link:before {
  background: #93121C;
}

.wp-block-button__link {
  transition: all 0.3s ease-out;
  background: #1F7A8C;
  color: #fff;
  font-weight: 700;
  padding: 16px 38px;
  border-radius: 0;
  font-size: 16px;
  position: relative;
  z-index: 2;
  min-width: 220px;
}
.wp-block-button__link:before {
  transition: all 0.3s ease-out;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: calc(100% - 7px);
  position: absolute;
  background: #195F6E;
  z-index: -1;
}
.wp-block-button__link:hover::before {
  right: 0;
}
.wp-block-button__link.red {
  background: #C81927;
}
.wp-block-button__link.red:before {
  background: #93121C;
}

.block-editor-default-block-appender .block-editor-inserter {
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

/*# sourceMappingURL=editor.css.map */
