@import "mixins.scss";

.testimonial-showcase {
    margin-bottom: 25px;
    padding:0 25px;
    .testimonials {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }
    .testimonial {
        flex: 0 0 100%;
        max-width: 595px;
        padding:43px;
        background:#F5F4F4;
        border-radius: 10px;
        position:relative;
        margin-bottom: 50px;
        &:before {
            position:absolute;
            content:"";
            height: 42px;
            width: 34px;
            background-image:url("/wp-content/themes/system-label/blocks/testimonial-showcase/icon.svg");
            background-repeat: no-repeat;
            background-size: contain;
            top: -15px;
            left: 15px;
        }
        &:after {
            position:absolute;
            content:"";
            height: 42px;
            width: 34px;
            background-image:url("/wp-content/themes/system-label/blocks/testimonial-showcase/icon.svg");
            background-repeat: no-repeat;
            background-size: contain;
            transform: scaleX(-1);
            bottom: -27px;
            right: 15px;
        }
    }
    .name {
        font-size: 24px;
        line-height: 28px;
        color:#CE1126;
        font-weight:700;
    }
    .title {
        font-size: 16px;
        color:rgba(51, 51, 51, 0.55);
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .content {
        font-style: italic;
    }
    .top {
        p {
            max-width: 800px;
            margin: auto;
            margin-bottom: 80px;
        }
    }
    .bot {
        color:rgba(51, 51, 51, 0.6);
        font-size: 16px;
        max-width:915px;
        margin: 40px auto;
    }
    h2 {
        margin-top:20px;
        font-size:40px;
        line-height:46px;
    }
}

@include screen(1024) {
    .testimonial-showcase {
        margin-bottom: 50px;
        padding:0px;
        .bot {
            margin: 80px auto;
        }
        .testimonials {
            flex-direction: row;
        }
        .testimonial {
            flex: 0 0 42.5%;
            margin-bottom: 0;
        }
        h2 {
            margin-top:40px;
            font-size:50px;
            line-height:56px;
        }
    }
}