{% extends "block-base.twig" %}

{% block content %}
<section class="testimonial-showcase {{block.className}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="top fade-up">
            {{fields.content.content}}
            </div>
            <div class="testimonials fade-up">
                {% for item in fields.content.items %}
                    <div class="testimonial">
                        <div class="name">{{item.name}}</div>
                        <div class="title">{{item.title}}</div>
                        <div class="content">{{item.content}}</div>
                    </div>
                {% endfor %}
            </div>
            <div class="bot fade-up">
            {{fields.content.bottom}}
            </div>
        </div>
    </div>
</section>
{% endblock %}
