@import "mixins.scss";

.pattern-hero-two {
    background:url('/wp-content/themes/tec/blocks/pattern-hero-two/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    padding: 35px;
    &:before {
        content: "";
        background: var(--bg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: right;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: -1;
    }
    h1 {
        color:white;
    }
    .link {
        margin-bottom: 20px;
        
    margin-left: 16px;

        a {
            color:white;
            position: relative;
            &:before {
                content: "\e907";
                font-family: "icomoon";
                font-size: 20px;
                position: absolute;
                left: -20px;
                top: 0px;
                transform: rotate(90deg);
            }
        }
    }
}

@include screen(1024) {
    .pattern-hero-two {
        padding: 0px;
        .container {
            padding-top: 10vh;
            padding-bottom: 17vh;
        }
        .wrapper {
            padding-top: 75px;
            padding-bottom: 0;
        }
        .flex {
            max-width: 750px;
        }
    }
}