.pattern-hero-two {
  background: url("/wp-content/themes/tec/blocks/pattern-hero-two/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  padding: 35px;
}
.pattern-hero-two:before {
  content: "";
  background: var(--bg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}
.pattern-hero-two h1 {
  color: white;
}
.pattern-hero-two .link {
  margin-bottom: 20px;
  margin-left: 16px;
}
.pattern-hero-two .link a {
  color: white;
  position: relative;
}
.pattern-hero-two .link a:before {
  content: "\e907";
  font-family: "icomoon";
  font-size: 20px;
  position: absolute;
  left: -20px;
  top: 0px;
  transform: rotate(90deg);
}

@media only screen and (min-width: 1024px) {
  .pattern-hero-two {
    padding: 0px;
  }
  .pattern-hero-two .container {
    padding-top: 10vh;
    padding-bottom: 17vh;
  }
  .pattern-hero-two .wrapper {
    padding-top: 75px;
    padding-bottom: 0;
  }
  .pattern-hero-two .flex {
    max-width: 750px;
  }
}

/*# sourceMappingURL=style.css.map */
