{% extends "block-base.twig" %}

{% block content %}
<section class="pattern-hero-two {{block.className}}" {{blockSection(block)}} style="--bg:url('{{cdnThis(fields.content.image.url)}}')">
    <div class="container">
        <div class="wrapper">
        {% if fields.content.link.url %}
            <div class="link">
               <a href="{{fields.content.link.url}}">{{fields.content.link.title}}</a>
            </div>
        {% endif %}
            <div class="flex">
                <InnerBlocks/>
            </div>
        </div>
    </div>
</section>
{% endblock %}
