.logos-text {
  padding: 25px;
}
.logos-text .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.logos-text .flex {
  flex: 0 0 48.5%;
  max-width: 623px;
  margin-bottom: 25px;
}
.logos-text .media {
  flex: 0 0 48.5%;
  max-width: 430px;
  position: relative;
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.logos-text .media img {
  flex: 0 0 calc(50% - 10px);
  max-width: calc(50% - 10px);
}
.logos-text .wp-block-image {
  margin-bottom: 30px;
}
.logos-text .wp-block-buttons {
  margin-top: 30px;
}
.logos-text img {
  max-width: 100%;
  height: auto;
}
.logos-text ul li {
  padding: 16px;
  color: #222B45;
  padding-left: 60px;
  font-size: 22px;
  line-height: 30px;
  border-bottom: 1px solid #707070;
  position: relative;
}
.logos-text ul li a {
  transition: all 0.3s ease-out;
}
.logos-text ul li:before {
  transition: all 0.3s ease-out;
  content: "\e907";
  font-family: "icomoon";
  color: #C81927;
  position: absolute;
  font-size: 35px;
  left: 28px;
  top: 50%;
  transform: translate(-50%, -50%) rotate(270deg);
}
.logos-text ul li:after {
  transition: all 0.3s ease-out;
  content: "";
  background: #C81927;
  position: absolute;
  height: 3px;
  width: 23px;
  left: 7px;
  top: 48%;
}
.logos-text ul li:hover {
  color: #C81927;
}
.logos-text ul li:hover a {
  color: #C81927;
}
.logos-text ul li:hover:before {
  left: 33px;
}
.logos-text ul li:hover:after {
  content: "";
  width: 30px;
}
.logos-text h5 {
  color: #1F7A8C;
}

@media only screen and (min-width: 1024px) {
  .logos-text {
    padding: 80px 0;
  }
  .logos-text .wrapper {
    flex-direction: row;
  }
  .logos-text .wp-block-image {
    margin-bottom: 60px;
  }
  .logos-text .wp-block-buttons {
    margin-top: 40px;
  }
  .logos-text .flex {
    margin-bottom: 0px;
  }
  .logos-text ul {
    max-width: 450px;
  }
  .logos-text .media {
    margin: 0;
  }
  .logos-text .media img {
    flex: 0 0 30%;
    max-width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
