{% extends "block-base.twig" %}

{% block content %}
<section class="{{blockClasses(block)}}" {{blockSection(block)}}>
    <div class="container">
        <div class="wrapper">
            <div class="flex">
                <InnerBlocks/>
            </div>
            <div class="media">
                {% for item in fields.content.items %}
                    {{imageElement(item.image)}}
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}
