@import "mixins.scss";

.cta-two {
    padding: 25px;
    background:#262626;
    h2,
    h3,
    p {
        color:white;
    }
}

@include screen(1024) {
    .cta-two {
        padding: 115px 0;
        .flex {
            max-width: 800px;
        }
    }
}