.cta-two {
  padding: 25px;
  background: #262626;
}
.cta-two h2,
.cta-two h3,
.cta-two p {
  color: white;
}

@media only screen and (min-width: 1024px) {
  .cta-two {
    padding: 115px 0;
  }
  .cta-two .flex {
    max-width: 800px;
  }
}

/*# sourceMappingURL=style.css.map */
